<div id="fullbox">
	<h2><%= @team.teamname %><%= " (INACTIVE)" if !@team.active %></h2>

	<div class="form-horizontal" role="form">
		<% # If the current user is the captain or admin, they can change the team name...but that's all! %>

					<div class="form-group">
				    <label class="col-sm-2 control-label">Team Name</label>
				    <div class="col-sm-10">
				      <%= best_in_place_if @can_edit_captain, @team, :teamname, :type => :input %>
				    </div>
			  	</div>
				  <% if @current_user && @current_user.is_admin? %>
						<div class="form-group">
					    <label class="col-sm-2 control-label">Current MMR</label>
					    <div class="col-sm-10">
					      <%= best_in_place @team, :mmr, :type => :input %>
							</div>
						</div>

						<div class="form-group">
					    <label class="col-sm-2 control-label">Dotabuff ID</label>
					    <div class="col-sm-10">
					      <%= best_in_place @team, :dotabuff_id, :type => :input %>
							</div>
						</div>

						<div class="form-group">
					    <label class="col-sm-2 control-label">Region</label>
					    <div class="col-sm-10">
					      <%= best_in_place @team, :region, :type => :input %>
							</div>
						</div>
				  <% end %>
						<div class="form-group">
					    <label class="col-sm-2 control-label">Captain</label>
				  		<%if @can_edit_captain%>
						    <div class="col-sm-10">
						      <%= best_in_place_if @can_edit_captain, @team,
						      	:captain_id,
						      	:type => :select,
						      	collection: @roster.collect {|player| ["#{player.id}", "#{player.name}"]}
						      	 %>
								</div>
							</div>
						<%else%>
							<div class="col-sm-10">
								<% if @team.captain %>
									<%= link_to @team.captain.name, @team.captain %>
								<% end %>
							</div>
						<%end%>
				<% if @can_edit_captain %>
					<%= form_tag(players_team_url(@team), :method => "POST", :id => "add_players_form") do %>
						<div class="form-group" id="addplayers">
				   		<label class="col-sm-2 control-label">Add Player</label>
					    <div class="col-sm-10">
					    	<select class="addplayer select2" name="players[]" team="<%=@team.id%>" width="600">
					    		<option value=""></option>
					    		<% @players.reject{|p| p.name.blank?}.each do |player| %>
					    			<option value="<%=player.id%>"><%=player.name%></option>
					    		<% end %>
					    	</select>
							</div>
						</div>
						<button class="btn btn-primary col-sm-offset-2">Add them!</button>
					<% end %>

				<% end %>

			<% if @can_edit_captain %>
				<%= form_for @team, :method => "delete" do |f| %>
				  <%= f.submit "Disband Team", :confirm => "Are you sure? This is NOT easily reversable!", :class => "btn btn-danger btn-sm fa fa-trash-o", :style => "margin-left:-3px" %>
				<% end %>
			<% end %>
	</div>

	<%= link_to "View Team on Dotabuff", "http://dotabuff.com/teams/#{@team.dotabuff_id}" unless @team.dotabuff_id.nil? %>
	<br ><br >
	<h3>Roster</h3>
	<div class="rosterholder">
		<%= render :partial => "teams/roster", :locals => {:roster => @roster, :team => @team}%>
	</div>
	<br><br>

	<% if @current_user && @current_user.id == @team.captain_id %>
		<% if @team.can_register_for_new_season? %>
			<%= render :partial => "seasons/registration_form" %>
		<% else %>
			<h3>Register for a new season</h3>
			<p>Coming soon! When the next season is up, you'll be able to register your team for it here</p>
		<% end %>
	<% end %>
  	<span class="btn btn-info btn-xs" data-toggle="modal" data-target="#WTS">
  		Learn more about the Weekend Tournament Series
	</span>
	<span class="btn btn-info btn-xs" data-toggle="modal" data-target="#Season4">
  		Learn more about the Season 4 format
	</span>

	<h3>Schedule</h3>
	<%- @team.team_seasons.each do |ts| %>
		<h4><%= link_to ts.season.title, ts.season %><% " (#{ts.division})" unless ts.division.nil? || ts.division.empty? %></h4>
		<% if @can_edit_captain %>
			<% if ts.paid == false && ts.season.current_price.to_i > 0 %>
				<%= link_to "Pay Registration Fee", ts, :class => "btn btn-primary" %>
			<% end %>
			<%= form_for ts, :html => {:method => :delete} do |f|  %>
			  <%= f.submit "Withdraw", :confirm => "Are you sure you want to withdraw from this season? This is NOT easily reversable!", :class => "btn btn-danger btn-sm fa fa-trash-o" %>
			<% end %>
		  	<span class="btn btn-info btn-xs" data-toggle="modal" data-target="#WTS">
		  		Check in!
			</span>
		<% end %>
		<br>
		<%if ts.season.challonge_url.nil?%>
			<%= render :partial => "matches/match_table", :object => @team.matches.select{ |match| match.season_id == ts.season_id }.sort_by(&:date) %>
		<%end%>
	<% end %>
</div>
