<div id="fullbox">
	<h2><%= @team.teamname %></h2>

	<div class="formholder">
		<% # If the current user is the captain, they can change the team name...but that's all! %>
		<% if @current_user.id == @team.captain_id || @current_user.is_admin? %>
			<%= form_for @team do |f| %>
				  <div class="formdivs">
				  	<%= f.label(:teamname, "Change Team Name") %>
				  	<%= f.text_field :teamname, :class => "inputbox"  %>
				  </div>
				  <% if @current_user.is_admin? %>
				  	<div class="formdivs">
					  	<%= f.label(:mmr, "Current MMR") %>
					  	<%= f.number_field :mmr, :class => "inputbox"  %>
				  	</div class="formdivs">
				  	
				  	<div class="formdivs">
					  	<%= f.label(:dotabuff_id, "Dotabuff ID") %>
					  	<%= f.number_field :dotabuff_id, :class => "inputbox"  %>
				  	</div class="formdivs">
				  	
				  	<div class="formdivs">
					  	<%= f.label(:region, "Region") %>
					  	<%= f.text_field :region, :class => "inputbox"  %>
				  	</div class="formdivs">
				  <% end %>			  
			  <%= f.submit "Update Team", :class => "button", :style => "margin-left:-3px"  %>
			<% end %>
			
			<% if @team.matches.count == 0 %>
				<%= form_for @team, :method => "delete" do |f| %>
				  <%= f.submit "Disband Team", :confirm => "Are you sure? This is NOT reversable!", :class => "button", :style => "margin-left:-3px" %>
				<% end %>
			<% end %>
		<% end %>
	</div>
	
	<%= link_to "View Team on Dotabuff", "http://dotabuff.com/teams/#{@team.dotabuff_id}" unless @team.dotabuff_id.nil? %>
	<br ><br >
	<h3>Roster</h3>
	<div class="rosterholder">
		<%- @team.players.sort_by {|p| p.id == @team.captain_id ? 0 : 1}.each do |player| %>
			<%= link_to_if player.steam32id, player.name, "http://dotabuff.com/players/#{player.steam32id}" %> <%= "(Captain)" if player.id == @team.captain_id %><%= link_to image_tag("plus.png"), "steam://friends/add/#{player.steamid}", :style => "margin-left:15px", :title => "Add on steam", :class => "pluslink" %><br>
		<% end %>
	</div>
	<br><br>
	
	<% if @current_user.id == @team.captain_id || @current_user.is_admin? %>
		<h3>Register for a new season</h3>
		<p>Coming soon! When the next season is up, you'll be able to re-register your team here</p>
	<% end %>
	
	<h3>Schedule</h3>
	<%- @team.team_seasons.each do |ts| %>
		<h4><%= link_to ts.season.title, ts.season %><% " (#{ts.division})" unless ts.division.empty? %></h4>
		<%= render :partial => "matches/match_table", :object => @team.matches.select{ |match| match.season_id == ts.season_id }.sort_by(&:date) %>
	<% end %>
</div>	
