<div id="fullbox">
	<h2><%= @team.name %><%= " (INACTIVE)" if !@team.active %></h2>

	<div class="form-horizontal" role="form">
		<% # If the current user is the captain or admin, they can change the team name...but that's all! %>

					<div class="form-group">
				    <label class="col-sm-2 control-label">Team Name</label>
				    <div class="col-sm-10">
				      <%= best_in_place_if Permissions.can_edit?(@team), @team, :name, :type => :input %>
				    </div>
			  	</div>
				  <% if Permissions.user_is_site_admin? %>
						<div class="form-group">
					    <label class="col-sm-2 control-label">Current MMR</label>
					    <div class="col-sm-10">
					      <%= best_in_place @team, :mmr, :type => :input %>
							</div>
						</div>

						<div class="form-group">
					    <label class="col-sm-2 control-label">Dotabuff ID</label>
					    <div class="col-sm-10">
					      <%= best_in_place @team, :dotabuff_id, :type => :input %>
							</div>
						</div>

						<div class="form-group">
					    <label class="col-sm-2 control-label">Region</label>
					    <div class="col-sm-10">
					      <%= best_in_place @team, :region, :type => :input %>
							</div>
						</div>
				  <% end %>
						<div class="form-group">
					    <label class="col-sm-2 control-label">Captain</label>
				  		<%if Permissions.can_edit?(@team)%>
						    <div class="col-sm-10">
						      <%= best_in_place @team,
						      	:captain_id,
						      	:type => :select,
						      	collection: @roster.collect {|player| ["#{player.id}", "#{player.name}"]}
						      	 %>
								</div>
							</div>
						<%else%>
							<div class="col-sm-10">
								<% if @team.captain %>
									<%= link_to @team.captain.name, @team.captain %>
								<% end %>
							</div>
						<%end%>
				<% if Permissions.can_edit?(@team) %>
					<%= form_tag(players_team_url(@team), :method => "POST", :id => "add_players_form") do %>
						<div class="form-group" id="addplayers">
				   		<label class="col-sm-2 control-label">Add Player</label>
					    <div class="col-sm-10">
					    	<select class="addplayer select2" name="players[]" team="<%=@team.id%>" width="600">
					    		<option value=""></option>
					    		<% Player.order(:name).pluck(:id, :name).reject{|id, name| name.blank? }.each do |id, name| %>
					    			<option value="<%= id %>"><%= name %></option>
					    		<% end %>
					    	</select>
							</div>
						</div>
						<button class="btn btn-primary col-sm-offset-2">Add them!</button>
					<% end %>

				<% end %>

			<% if Permissions.can_edit?(@team) %>
				<%= form_for @team, :method => "delete" do |f| %>
				  <%= f.submit "Disband Team", data: {confirm: "Are you sure? This is NOT easily reversable!"}, :class => "btn btn-danger btn-sm glyphicon glyphicon-trash-o", :style => "margin-left:-3px" %>
				<% end %>
			<% end %>
	</div>

	<%= link_to "View Team on Dotabuff", "http://dotabuff.com/teams/#{@team.dotabuff_id}" unless @team.dotabuff_id.nil? %><br />

	<br ><br >
	<h3>Roster</h3>
	<div class="rosterholder">
		<%= render :partial => "teams/roster", :locals => {:roster => @roster, :team => @team}%>
	</div>
	<br><br>

	<%= render :partial => "welcome/learn_more" %>

	<h3>Schedule</h3>
	<br />
	Add Team Schedule to GCal:<br />
	<%= link_to image_tag("http://www.google.com/calendar/images/ext/gc_button6.gif"), team_path(@team, :format => :ics), :title => "Click to add team schedule to GCal", :onclick => "event.preventDefault(); alert('Right click to copy the link address, go to GCal, Other Calendars -> Add by URL. And then paste the link in!');" %>
	<br /><br /><br />
	<%- @team.team_seasons.sort.reverse.each do |ts| %>
		<h4><%= link_to ts.season.title, ts.season %><% " (#{ts.division})" unless ts.division.nil? || ts.division.empty? %></h4>
		<%= best_in_place_if Permissions.can_edit?(ts.season), ts, :division, :type => :input %>
		<% if Permissions.can_edit?(@team) %>
			<% if ts.paid == false && ts.season.current_price.to_i > 0 && ts.season.registration_open %>
				<%= link_to "Pay Registration Fee", ts, :class => "btn btn-primary" %>
			<% end %>
			<%= form_for ts, :html => {:method => :delete} do |f|  %>
			  <%= f.submit "Withdraw", data: {confirm: "Are you sure you want to withdraw from this season? This is NOT easily reversable!"}, :class => "btn btn-danger btn-sm glyphicon glyphicon-trash" %>
			<% end %>
		<% end %>
		<br>
		<%if ts.season.challonge_url.nil?%>
			<% matched_permission = @permissions.detect { |p| p.division == ts.division }
			if matched_permission  %>
				<%= link_to matched_permission.player.name, matched_permission.player%>
				is your admin for division <%= ts.division%>!  Contact them first with any questions! <br><br>
			<% end %>
			<%= render :partial => "matches/match_table", :object => @team.matches.select{ |match| match.season_id == ts.season_id }.sort_by(&:date) %>
		<%end%>
	<% end %>
</div>
