<div class="col-sm-6">
  <h5>Basics</h5>
  <div class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-6 control-label">Name</label>
      <div class="col-sm-6">
        <%= best_in_place_if Permissions.can_edit?(season), season, :title, :type => :input %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-6 control-label">Dota 2 Ticket League Id</label>
      <div class="col-sm-6">
        <%= best_in_place_if Permissions.can_edit?(season), season, :league_id, :type => :input %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-6 control-label">Registration Open Now?</label>
      <div class="col-sm-6">
        <%= best_in_place_if Permissions.can_edit?(season), season, :registration_open, :type => :checkbox %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-6 control-label">Active?</label>
      <div class="col-sm-6">
        <%= best_in_place_if Permissions.can_edit?(season), season, :active, :type => :checkbox %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-6 control-label">Start date?</label>
      <div class="col-sm-6">
        <%= best_in_place_if Permissions.can_edit?(season), season,
        :start_date,
        :display_with => lambda { |date| date.nil? ? nil : format_datetime(date)},
        :activator => ".glyphicon-warning-sign.#{season.id}-date",
        :type => :datetime%>
        <span class="glyphicon glyphicon-warning-sign <%=season.id%>-date"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-6 control-label">Description</label>
      <div class="col-sm-6">
        <%= best_in_place_if Permissions.can_edit?(season), season, :description, :type => :textarea %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-6 control-label">Team tournament?</label>
      <div class="col-sm-6">
        <%= best_in_place_if Permissions.can_edit?(season), season, :team_tourney, :type => :checkbox %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6">
        <label class="control-label">Tournament Type</label>
        <p class="help-block">Changing this while a tournament is in motion can have catastropic consequences, the tournament must be inactive to edit this</p>
      </div>
      <div class="col-sm-6">
        <%= best_in_place_if Permissions.can_edit?(season) && !season.active, season, :season_type, type: :select, :collection => Season.season_types.keys.zip(Season.season_types.keys) %>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="form-horizontal" role="form">
    <h5>Registration</h5>
    <div class="form-group">
      <div class="col-sm-6 control-label">
        <label>Cost in cents</label>
        <p class="help-block">e.g. 500 -> $5.00, 0 -> Free!</p>
      </div>
      <div class="col-sm-6">
        <%= best_in_place_if Permissions.can_edit?(season), season, :price_cents, :type => :input %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6 control-label">
        <label>Late Fee Start Time</label>
        <p class="help-block">Date on which late fee price starts...blank for never</p>
      </div>
      <div class="col-sm-6">

        <%= best_in_place_if Permissions.can_edit?(season), season, :late_fee_start, :type => :datetime %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-6 control-label">Late price in cents</label>
      <div class="col-sm-6">
        <%= best_in_place_if Permissions.can_edit?(season), season, :late_price_cents, :type => :input %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6 control-label">
        <label>Season Group #</label>
        <p class="help-block">Teams may only register for ONE season in each group...blank if you don't conflict</p>
      </div>
      <div class="col-sm-6">
        <%= best_in_place_if Permissions.can_edit?(season), season, :exclusive_group, :type => :input %>
      </div>
    </div>
  </div>
</div>