<h3>Register for a new season</h3>
<p>Registration is now open for upcoming seasons. You may register your team below. Please ensure that you have read and understand all the rules of the league before registering. Payment (if applicable) is non-refundable. If payment is required and we do not accept it in your country, please contact the admins directly and we can work out an alternate method.</p>

<%= form_for TeamSeason.new, :id => "season_registration", :role => "form" do |f| %>
  <label>Select season:</label>
  <% @team.seasons_available_for_registration.each do |season| %>
    <div class="radio">
      <%= f.radio_button(:season_id, season.id) %>
      <%= label_tag("season_id_" + season.id.to_s, season.title + " (#{format_price(season.current_price)})") %>
      <%unless season.challonge_url.nil?%>
      	(Weekend Tournament Series!)
      	<span>Begins <%=season.start_date.strftime("%-m/%-d/%y %l:%M%p")%> EDT</span>
      <%else%>
      	<span>Begins <%=season.start_date.strftime("%-m/%-d/%y")%></span>
      <%end%>
    </div>    
  <% end %>
  <span class="btn btn-info btn-xs" data-toggle="modal" data-target="#WTS">
  	Learn more about the Weekend Tournament Series
	</span>
	<%if 1==2%>
	  <span class="btn btn-info btn-xs" data-toggle="modal" data-target="#Season4">
	  	Learn more about the Season 4 format
		</span>
	<%end%>
	<br>
	<br>
  <%= f.hidden_field :team_id, :value => @team.id %>
  <%= submit_tag "Register!", :class => "btn btn-primary", :confirm => "Please make sure you are committed to playing before registering!" %>
<% end %>

<!-- WTSModal -->
<div class="modal fade" id="WTS" tabindex="-1" role="dialog" aria-labelledby="WTSLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="WTSLabel">Weekend Tournament Series</h4>
      </div>
      <div class="modal-body">
        <%= render :partial => "welcome/wts_faq" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Season4" tabindex="-1" role="dialog" aria-labelledby="Season4Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="WTSLabel">Weekend Tournament Series</h4>
      </div>
      <div class="modal-body">
        <%= render :partial => "welcome/wts_faq" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>