<h3>Season Management Page</h3>
<%= render :partial => "seasons/edit_form", :locals => {:season => @season} if @current_user && @current_user.is_admin? %>

<h4>Teams</h4>
  <table class="table table-bordered">
    <tr><th>Team</th><th>Captain</th><th>Division</th><th>Registered On (UTC)</th><th>Paid?</th></tr>
    <% @season.team_seasons.each do |ts| %>
    <tr>
      <td><%= ts.team.teamname %></td>
      <td><%= ts.team.captain.name if ts.team.captain %></td>
      <td><%= best_in_place ts, :division, :type => :input %></td>
      <td><%= format_datetime(ts.created_at) if ts.created_at %>
      <td><%= best_in_place ts, :paid, :type => :checkbox %></td>
    </tr>
    <% end %>
  </table>

  <%= form_for TeamSeason.new, :id => "season_registration", :role => "form" do |f| %>
  <label>Select team to add:</label>

  <%= f.select(:team_id, options_for_select(Team.where(:active => false).sort_by(&:teamname).map{|team| [team.teamname, team.id]}), :style => "width: 400px;" ) %>
  <%= f.hidden_field :season_id, :value => @season.id %>
  <%= submit_tag "Add Team", :class => "btn btn-primary" %>
<% end %>

<h4>Challonge</h4>
<p>Use the settings below to sync the tournament to Challonge and back. A few notes:</p>
<ul>
  <li>Divisions have no meaning for Challonge, they will be ignored</li>
  <li>Only teams marked as "Paid" will be synced to challonge</li>
  <li>If a team withdrawns on AD2L (including becoming unpaid), they will be withdrawn on Challonge</li>
</ul>

<div class="col-sm-8">
  <h5>Current Challonge Settings:</h5>
  <% if @season.challonge_id.nil? %>
    <p>Not Setup</p>
  <% else %>
    <div class="row">
      <label class="col-sm-4 control-label">Link</label>
      <div class="col-sm-8">
        <%= link_to "http://challonge.com/#{@season.challonge_url}", "http://challonge.com/#{@season.challonge_url}" %>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-4 control-label">Participants</label>
      <div class="col-sm-8">
        <%= @season.challonge_tournament.participants.count %>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-4 control-label">Matches</label>
      <div class="col-sm-8">
        <%= @season.challonge_tournament.matches.count %>
      </div>
    </div>
  <% end %>
</div>
<div class="col-sm-4">
  <h5>Available Actions:</h5>
  <p>Actions are available depending on the state of the tournament. It must not be active to sync data to challonge. It must be finished (with all scores reported) to sync back to AD2L</p>
  <% if !@season.challonge_tournament %>
    <%= link_to "Sync to Challonge", setup_challonge_season_path(@season), :class => "btn btn-primary btn-block" %>
  <% elsif @season.challonge_tournament && @season.challonge_tournament.state == 'pending' %>
    <%= link_to "Sync to Challonge", setup_challonge_season_path(@season), :class => "btn btn-primary btn-block" %>
    <%= link_to "Launch tournament", launch_challonge_season_path(@season), :class => "btn btn-success btn-block" %>
  <% elsif @season.challonge_tournament && @season.challonge_tournament.state == 'complete' %>
    <%= link_to "Sync matches", sync_challonge_matches_season_path(@season), :class => "btn btn-success btn-block" %>
  <% elsif @season.challonge_tournament %>
    <%= link_to "Rebuild Challonge", rebuild_challonge_season_path(@season), :class => "btn btn-danger btn-block", :confirm => "This will reset all data on challonge and rebuild the tournament from scratch...are you sure?" %>
  <% end %>
</div>

