<% content_for :page_subtitle do %>
    Schedule
<% end %>
<% content_for :meta_description do %>
    Check out the schedules for all the currently running AD2L tournaments
<% end %>
<% content_for :subnav do %>
    <ul class="nav nav-tabs">
        <% if @season.registration_open %>
            <li class="tab"><%= link_to "Register Now!", register_url %></li>
        <% end %>
		<li class="tab active"><a data-toggle="tab" href="#schedule">Standings and Schedule</a></li>
        <li class="tab"><a data-toggle="tab" href="#rules">Rules</a></li>
    </ul>
<% end %>

<% cache_unless @no_cache, "seasonPage-" + @season.id.to_s, skip_digest: true do %>
    <h2><%= @season.title %></h2>
    <div class="tab-content">
        <div class="tab-pane active" id="schedule">
            <% if Permissions.can_view?(@season) %>
                <div>
                    <%= link_to "Manage Season", manage_season_path(@season), class: "btn btn-primary" %>
                </div>
            <% end %>
            <div>
                Can't find your opponent?  Join the <a href="steam://friends/joinchat/103582791435143521" class="btn btn-primary btn-xs">STEAM group chat!</a>
            </div>

            <div class="col-sm-4">
                <h2><%= @season.start_date || Time.now >= Time.now ? "Participants" : "Rankings" %></h2>
                <% @teams_by_division.each do |division, team_seasons| %>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <% if @teams_by_division.size > 1 %>
                                <tr>
                                    <th colspan=3>
                                        Division <%= division %>
                                        <% matched_permission = @permissions.detect { |p| p.division == division }
                                        if matched_permission  %>
                                            <br/>
                                            <sub>Admin -
                                            <%= link_to matched_permission.player.name, matched_permission.player%></sub>
                                        <% end %>
                                    </th>
                                </tr>
                            <% end %>
                            <tr>
                                <%if @teams_by_division.size > 1 %>
                                    <th>Place</th>
                                <%else%>
                                    <th></th>
                                <%end%>
                                <th>Name</th>
                                <th>Wins</th>
                                <% if @season.check_in_available? %>
                                    <th>Checked in?</th>
                                <% end %>
                            </tr>
                        </thead>
                        <tbody>
                            <% team_seasons.sort_by do |ts|
                                if @season.start_date && @season.start_date > Time.now
                                    ts.id
                                else
                                    @total_scores[ts.class_id].to_i
                                end
                            end.reverse.each_with_index do |team_season, index| %>
                                <tr>
                                    <td><%= index + 1 %></td>
                                    <td><%= link_to team_season.participant.name, team_season.participant %></td>
                                    <td><%= @total_scores[team_season.class_id].to_i %></td>
                                    <% if @season.check_in_available? %>
                                        <td>
                                            <% if Permissions.can_edit?(team_season.participant) || Permissions.can_edit?(team_season) && !team_season.checked_in %>
                                                <%= button_tag "Check In", :class => "btn btn-primary btn-block js-check-in", "data-url" => team_season_path(team_season) %>
                                            <% else %>
                                                <%= team_season.checked_in ? "Yes" : "" %>
                                            <% end %>
                                        </td>
                                    <% end %>
                                </tr>
                            <%end%>
                        </tbody>
                    </table>
                <%end%>
            </div>
            <div class="col-sm-8 col-sm-offset-0 col-md-6 col-md-offset-2">
                <h2>Schedule</h2>
                <% if !@season.matches.exists? %>
                    <% if @season.round_robin? %>
                        <p>Schedule will be released when the tournament starts on <%= format_date(@season.start_date) %></p>
                    <% else %>
                        <p>Schedule will be released when the tournament starts on <%= format_datetime_month(@season.start_date) %></p>
                    <% end %>
                <% else %>
                    <ul class="list-inline week-selector">
                        <span class="week">Week</span>
                        <% @season.matches.pluck(:week).uniq.sort.each do |week_num| %>
                            <li><%= link_to week_num, {:week => week_num}, "data-week" => week_num, :class => ("active" if week_num == @week_num) %></li>
                        <% end %>
                    </ul>
                    <% @season.matches.pluck(:week).uniq.sort.each do |week_num| %>
                        <div class="week-holder" id="week_<%= week_num %>" style='<%= "display: none;" unless @week_num == week_num %>'>
                            <%= render :partial => "matches/match_table", :object => @matches.select{|m| m.week == week_num } %>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="tab-pane" id="rules">
            <h2>Rules</h2>
            <%= raw @season.rules %>
        </div>
    </div>
<% end %>