<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%unless @player.name.nil?%>
      <h2>Hey <%=@player.name%>!</h2>
    <%end%>
    <h3>Weekend Tournament Series</h3>
    <p>
      We have some awesome weekend tournaments starting this weekend!  Come sign up and find more information <%=link_to "here", "welcome/faq"%>!  We'll be running these tournaments for the next few weekends are excited about it!  Only 32 teams are accepted for this first tournament so sign up soon!  Please note the 5:00pm EDT start time this Saturday, May 3rd!  You can sign up from your team page and if you don't have a team page, make a new team from your "My info" page and come play!  Side note:  <%=link_to "Affinity", "players/140"%> is looking for casters!
    </p>
    <h3>AD2L Item Dump</h3>
    <p> 
      This is an awesome system we are starting!  Our awesome volunteers <%=link_to "Boycey", "players/1615"%> and <%=link_to "N.W.A", "players/17"%> are running this!  If you have a few extra item, you can donate them to the AD2L item dump account (accessed by both NWA and Boycey) and we'll use them as giveaways!  We're doing some giveaways for things like top AD2L play (submit your videos now!) and best competition idea.  See more information <%=link_to "here", "http://steamcommunity.com/groups/AD2L/discussions/0/558754260669685659/"%>.
    </p>
    <h3>Season 4 Ticket Competition!</h3>
    <p> 
      One of our first item dump competitions will be for the best designed ticket logo.  Get more information <%=link_to "here", "http://steamcommunity.com/groups/AD2L/discussions/0/558754899189503715/"%>!  Design a ticket logo and submit it to Seth at sethad2l@gmail.com.
    </p>
    <p>
      I'm going to apologize in advance.  I'm going to have send another email out pretty soon regarding our next season sign ups!  They will be out soon!  If you are feeling spammed, feel free to let me know and I'll make sure you get left out of future emails.
    </p>
    <p>
      Thanks everyone and good luck in your playoffs and/or prep for next season!!
    </p>
    <p>
      Jordan
    </p>
  </body>
</html>