<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%unless @player.name.nil?%>
      <h2>Hey <%=@player.name%>!</h2>
    <%end%>
    <h3>1v1 tournaments begin!</h3>
    <p> 
      Registration is open!  Check out the FAQ <%= link_to "here", "http://amateurdota2league.com/faq"%> for more information.  Go ye forth and sign up!  I'm sure you'll have questions.  <%=link_to "Boycey", "players/1615"%>, <%=link_to "Trenza", "players/4745"%> and <%=link_to "Affinity", "players/140"%> are happy to help!. These are some trial runs we are going to do for the next few weeks on <b>Wednesdays at both EU and NA times!</b>  Go sign up <%=link_to "here", "http://amateurdota2league.com/register"%>!
    </p>
    <h4>Weekend Tournament Series, final week!</h4>
    <p>
      This is the final weekend for our weekend tournament series!  The winner will get an invitation to our legendary league, worth $25!  We recommend all to come sign up and play!  
    </p>
    <h3>Patreon</h3>
    <p>
      Patreon is still a big deal to us!  We'd love to have your support there.  We'd be more than happy with just $1 a month if you can spare it and for that $1 we'll provide with tickets to all but our premier leagues!  Please check it out below!
    </p>
    <h4><%= link_to "Our Patreon Page", "http://www.patreon.com/ad2l"%></h4>
    <p>
      Thanks!
    </p>
    <p>
      Jordan
    </p>
  </body>
</html>