<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%unless @player.name.nil?%>
      <h2>Hey <%=@player.name%>!</h2>
    <%end%>
    <h3>Patreon</h3>
    <p>
      We are really excited about this!  We really have met with so many amazing people in teams since we have started AD2L.  So many of you have been so willing to help us out and support us and have asked for a way to do it.  Patreon is a small way to do that.  If you are able, you can pledge a small amount each month to help AD2L become even more awesome.  The cool thing is, the early prizes are things a lot of you would buy anyway!  For example, if you pledge $1 a month, we'll give you that ticket that you were going to buy anyway.  There's no committment and you can cancel time.  We love you guys and thank you for the support.  
    </p>
    <h4><%= link_to "Our Patreon Page", "http://www.patreon.com/ad2l"%></h4>
    <h3>About season 4...</h3>
    <p> 
      Registration is open!  And we are doing it a bit differently (again).  We're clearly still working on finding the ideal format.  As a teaser, we are going to have four different group with many teams invited and some paid slots.  If you don't want to pay then don't!  Check out our season 4 FAQ <%= link_to "here", "http://amateurdota2league.com/faq"%> for more information.  Go ye forth and sign up!  I'm sure you'll have questions.  Feel free to ask any of the admins or Seth and I.  We'll be more than happy to clarify!  Go sign up <%=link_to "here", "http://amateurdota2league.com/register"%>!
    </p>
    <h3>Other items of business</h3>
    <h4>Seth's sick</h4>
    <p>
      Guess what Seth has been doing today.  Puking.  He's been sick all day.  Do you know why?  Because he hasn't gotten enough submissions for his ticket design competition!  DO IT!  Find more info <%=link_to "here", "http://steamcommunity.com/groups/AD2L/discussions/0/558754899189503715/"%>.  (Okay, maybe he's not sick because of lack of submissions.  He is sick though, so who's to know exactly the cause.)
    </p>
    <h4>Weekend Tournament Series</h4>
    <p>
      It was a blast!  So many cool teams and having captain's draft was just awesome!  We're working on improving it with a good check in system so we can start more timely.  We'll be opening up registration for our second tournament soon (likely tomorrow!).  A huge thanks to <%=link_to "Affinity", "http://amateurdota2league.com/players/140"%> for running it!
    </p>
    <p>
      Thanks everyone and good luck in your playoffs and/or prep for next season!!
    </p>
    <p>
      Jordan
    </p>
  </body>
</html>