<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Greetings all!</h2>
    <h3>Playoffs coming!</h3>
    <p>
      We are being a lot more active with blogging.  Pay attention to our most recent updates at our <%=link_to "homepage", "http://amateurdota2league.com"%>.  Find the one by Seth about playoffs <%=link_to "here", "http://www.sethradford.com/2014/07/ad2l-season-4-playoff-format/"%>.  We need to get your most up-to-date scores!
    </p>
    <h3>Season 4 and Season 5</h3>
    <p> 
      Season 4 is ending and season 5 is looming.  We're going to changes things up, like always.  We'd like your feedback on season 4!  Hit up <%=link_to "this questionnaire", "https://docs.google.com/forms/d/1D4yUjK5ZIumVqncIfZjGkrq2DeGxl9CIueOP7sz5OrY/viewform"%> and give us some.  It's completely anonymous.      
    </p>
    <p>
      I've written a blog post about season 5.  You can find it on our <%=link_to "homepage", "http://amateurdota2league.com"%> or <%=link_to "here", "https://php-aarmora.rhcloud.com/?p=28"%>.  Feel free to comment and voice any concerns.
    </p>
    <h3>Patreon</h3>
    <p>
      Patreon is still a big deal to us!  We'd love to have your support there.  We'd be more than happy with just $1 a month if you can spare it and for that $1 you can help support AD2L!  Please check it out below!
    </p>
    <h4><%= link_to "Our Patreon Page", "http://www.patreon.com/ad2l"%></h4>
    <p>
      Thanks,
    </p>
    <p>
      Jordan
    </p>
    <p>
      <a href="https://twitter.com/adota2l" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @Adota2l on twitter!</a>
    </p>
  </body>
</html>