<% if Permissions.user_is_site_admin? %>

  <h2>Team Management</h2>
  <%= link_to "Teams", admin_teams_path, :class => "button"%>

  <h2>Player Management</h2>
  <%= link_to "Players", admin_players_path, :class => "button"%>

  <h2>Permissions</h2>
  <table class="table table-bordered" id="admin-data-table">
    <thead>
      <tr>
        <th>Person</th><th>Level</th><th>Organization</th><th>Season</th><th>Division</th><th>Remove</th>
      </tr>
    </thead>
    <% @permissions.each do |permission| %>
    <tr>
      <td>
        <%=best_in_place permission, :player_id, :type => :select, :collection => @players %>
      </td>
      <td>
        <%=
          best_in_place permission,
          :permission_mode,
          :type => :select,
          collection: [["", "None"], ["site", "site"], ["organization","organization"], ["season", "season"], ["division","division"]]
        %>
      </td>
      <td><%= best_in_place permission, :organization_id, :type => :input%></td>
      <td><%= best_in_place permission, :season_id, :type => :input%></td>
      <td><%= best_in_place permission, :division, :type => :input%></td>
      <td>
        <%= form_for permission, :method => "delete" do |f|%>
          <%= f.submit "Remove", :class => "btn btn-danger btn-sm glyphicon glyphicon-trash"%>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
  <%= form_for Permission.new, :html => { :class => "form-horizontal", :role => "form"} do |f| %>
    <%= f.submit "Add permissions", :class => "btn btn-primary"%>
  <% end %>
<% end %>

<h2>Season / Schedule Management</h2>
<p>Choose a season and week to manage</p>

<% if Permissions.user_is_site_admin? %>
  <%- #Create a new season by clickign the button, then edit! %>
  <%= form_for Season.new do |f| %>
    <%= f.submit "Create new season", :class => "btn btn-primary" %>
  <% end %>
  <%= link_to "New Match", matches_path, :class => "button"%>
<% end %>

<% Season.all.each do |s| %>
  <%- next unless Permissions.can_view? s %>
  <h3><%= link_to s.title, manage_season_path(s) %></h3>
<% end %>

<% if Permissions.user_is_site_admin? %>
  <%= link_to "Posts", posts_path, :class => "button"%>
<% end %>


