
<div class="panel-group" id="accordion3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwenty">Introduction</a>
      </h4>
    </div>
    <div id="collapseTwenty" class="panel-collapse collapse in">
      <div class="panel-body">
        <p><b>Please note that as of May 30, 2014, we have official confirmation from Valve that amateur tournaments will no longer have item drops from ticket purchases.  We're not sure yet how much this will impact ticket sales but we are sure it will.  Right now we are not sure how much our prize pools will be for season 4.</b></p>
        <p>Season 4 will be using a very different format.  We'll have four separate divisions generally divided by skill level.  Each of the top three divisions will have approximately half of their slots filled by teams invited from previous seasons and the rest of the slots will be available to new or previous teams as paid slots.  Within those divisions will have groups of (ideally) 10 teams resulting in a nine week regular season.</p>
        <p>So, what's the advantage to paying, you ask?  Good question.  I'm glad you asked.  So glad that I'll almost owe you one maple bar.  Almost.  Though, I haven't been very good at paying off my maple bars, just ask <%= link_to "Lesk", "players/1808"%>.  <b>The paid slots act as accelerators and a chance to experience a higher level of play.</b>  Do you think your team deserves to be at a higher level, possibly even the legendary level?  That's awesome and it's why we have the paid slots.  You don't want to pay?  Then certainly don't!  Start at our entry level division, do well, and the next season you'll be invited to one of the higher divisions. </p>
        <p>Our post season will also be handled a bit different.  We'll have four separate playoffs with prize pools starting at the highest prize pool, the next highest prize pool, and the lowest cash prize pool, then some nifty Dota 2 items.  Different divisions will have a differing number of teams progressing to these respective playoffs.  More on this below. </p>
        <p>So what happens if you're in a lower, paid division and want to jump to a higher one?  You'll just pay the difference between your current division and the division you'd like to join.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyOne">Legendary division</a>
      </h4>
    </div>
    <div id="collapseTwentyOne" class="panel-collapse collapse">
      <div class="panel-body">
        <p>This is our top level!  We view these teams to be the most competitive we have. It costs $25 for one of the paid slots in this division.  This division has a LOT to offer.  <b>We will have only a small amount of paid slots in this division!</b></p>
        <p>There will be a total of 20 teams in this division of which half will progress to the premier playoff with the highest prize pool and the rest will go to the playoff with the next highest prize pool.  See the diagram, it explains all of this better. </p>
        <ol>
          <li>1. Contracted casters with games streamed on AD2L twitch channels</li>
          <li>2. Awesome opponents</li>
          <li>3. A chance at the largest prize pools</li>
          <li>4. Maybe a little bit of street cred</li>
          <li>5. Excessive Rasputin attention. I call it Rasputention.  Not to be confused with hypertension.  (I'll likely chat you nearly every day asking when you can play your game.  You're gonna love it.)</li>
        </ol>
        <%= image_tag ("legendaryleague.jpg") %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyTwo">
          Champion division
        </a>
      </h4>
    </div>
    <div id="collapseTwentyTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>This is our second highest level!  The buy in for this level is $15 and offers some awesome things.  There will be great competition and a chance at the highest prize pool!  There will be a total of 40 teams in this division.  See the diagram.  It's awesome.</p>  
        <%= image_tag ("Championsleague.jpg") %>        
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyThree">
          Heroic division
        </a>
      </h4>
    </div>
    <div id="collapseTwentyThree" class="panel-collapse collapse">
      <div class="panel-body">
        <p>This is our most inexpensive buy in level!  The buy in for this level is $7.50 and still gets you a chance at the $100 prize pool.  There will be a total of 40 teams in this division.  See the diagram.  It's also awesome.</p>  
        <%= image_tag ("heroicleague.jpg") %>       
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyFour">
          Entry division
        </a>
      </h4>
    </div>
    <div id="collapseTwentyFour" class="panel-collapse collapse">
      <div class="panel-body">
        <p>This one is free and open to all! I will be playing in this one!  I hope to win one game.  Everyone will progress to some sort of playoffs and it's meant to meet people and have fun.</p>
        <p>This is also a good spot for teams that want to work on progressing to the higher divisions next season.  Again.  Diagram.</p>
        <%= image_tag ("Entryleague.jpg") %>       
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyFive">
          What happens for season 5? 
        </a>
      </h4>
    </div>
    <div id="collapseTwentyFive" class="panel-collapse collapse">
      <div class="panel-body">
        <p>We don't have exact numbers yet but teams will progress.  Entry division will have the potential to progress as high as the Champions division.  Champion and Heroic will both have a chance to progress to Legendary.  We'll always try to make it fair for new teams to progress.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentySix">
          So when do we play?
        </a>
      </h4>
    </div>
    <div id="collapseTwentySix" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Legendary games will be played on Tuesdays and Wednesdays starting the second week of June.  Most other games will be played on Thursday evenings starting at 20:30 cet for EU teams and 8:30pm est for NA teams.  There will generally be two time slots with one starting at 8:30pm est/20:30 cet and the second starting around 10:00pm est/22:00 cet, again depending on your region.  Reschedules are definitely allowed assuming both teams agree! </p>
        <p>The group stage will have have one best of two each week for all divisions except legendary, which will play one best of three.</p>
      </div>
    </div>
  </div>
</div> 