
<div class="panel-group" id="accordion2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Who, What, When, Where, Why, How</a>
      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse in">
      <div class="panel-body">
        <h4 class="headerunderline">Who</h4>
        <p>64 Teams may enter the Weekend Tournament Series WTS) of the AD2L WTS</p>
        <h4 class="headerunderline">What</h4>
        <p>The AD2L (WTS) - Captain’s Mode</p>
        <h4 class="headerunderline">When</h4>
        <p>NA: Saturdays, @5:00pm EDT. Registration begins weekly</p>
        <p>EU: Saturdays, @19.00 CEST. Registration begins weekly</p>
        <h4 class="headerunderline">Where</h4>
        <p>Check-in where you registered by clicking the ‘Check-in’ button that appears on the WTS tab <%=link_to "here", seasons_path%>, @4:45pm. <%=link_to "Affinity", "players/140"%> will be in the guild chat and <%=link_to "steam group", "steam://friends/joinchat/103582791435143521"%> to assist you.  Brackets will be built from those who check in, so make sure to check in on time!</p>
        <h4 class="headerunderline">Why</h4>
        <p>For those of us not as good as DK, we play amateur tournaments.</p>
        <h4 class="headerunderline">How</h4>
        <ol>
          <li>1. Register from your teampage or <%=link_to "here", "register"%>.  (Can be found from the <%=link_to "My Info", (@current_user ? @current_user : "players/new")%>)</li>
          <li>2. Check-in 15 minutes before the tournament from the WTS tab <%=link_to "here", seasons_path%>. </li>
          <li>3. Use the <%=link_to "steam group chat", "steam://friends/joinchat/103582791435143521"%> to find your opponent</li>
            <ol class="sublist">
              <li>a. For example, if I’m on team APE, and my opponents are Cheat Commandos, I’ll type into the chat: APE vs Cheat Commandos, join lobby ad2l123</li>
              <li>b. As a general rule, ask for a caster if you want your game on Dota TV (ticketed). Casters might be calling your team, if so, go join their lobby!</li>
            </ol>
          <li>4. The winner will type into the chat (or steam msg <%=link_to "Affinity", "players/140"%>) they won their game. </li>
          <li>5. Rinse and repeat steps 2-4 until the 1st place is yours!</li>
        <ol>
      </div>
    </div>
  </div>
  <% if false %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">RaidCall Walkthrough</a>
        </h4>
      </div>
      <div id="collapseEleven" class="panel-collapse collapse">
        <div class="panel-body">
          <ol>
            <li>1. <%=link_to "Download RaidCall", "http://www.raidcall.com/download-raidcall.html"%> (100% free)</li>
            <li>2. Create an account</li>
            <li>3. Follow this <%=link_to "link", "http://www.raidcall.com/go.php?sid=8675445&cid=1"%> or search for group [8675445], and talk to <%=link_to "Affinity", "players/140"%> in the Lounge</li>
            <li>4. DISABLE RAIDCALL’S OVERLAY FEATURE. It is incompatible with Steam’s overlay. To do this, go to > click on RaidCall icon in the top left corner > System Settings > Overlay > Change the hotkey to something you’ll never press by accident (e.g. mine is Shift+F8).</li>
          <ol>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">
            Prizes
          </a>
        </h4>
      </div>
      <div id="collapseTwelve" class="panel-collapse collapse">
        <div class="panel-body">
          <p><b>Week 1</b> - Total Prize Pool: 7 Keys, 3 Full items sets (rarity is completely random from the Item Dump) To be distributed:</p>
          <ol>
            <li>1st - 5 Keys</li>
            <li>2nd - 2 Keys</li>
            <li>Three different viewers will be selected at random for 3 Full item sets</li>
          <ol>
          <p><b>Week 2</b> - Total Prize Pool: 7 Keys, 3 Full items sets (rarity is completely random from the Item Dump) To be distributed:</p>
          <ol>
            <li>1st - 5 Keys</li>
            <li>2nd - 2 Keys</li>
            <li>Three different viewers will be selected at random for 3 Full item sets</li>
          <ol>
          <p><b>Week 3</b> - Total Prize Pool: 7 Keys, 3 Random Loading Screens, 8 Full items sets (rarity is completely random and from the Item Dump) To be distributed:</p>
          <ol>
            <li>1st - 5 Keys + 1 loading screen + 1 Full item set</li>
            <li>2nd - 2 Keys + 1 loading screen + 1 Full item set</li>
            <li>Five different viewers will be selected at random for 5 Full item sets</li>
            <li>One viewer will be selected at random for 1 loading screen</li>
          <ol>
          <p><b>Week 4</b> - Total Prize Pool: <b>AD2L Season 4 Legendary League slot</b>, 7 Keys, 3 Random Loading Screens, 10 Full items sets (rarity is completely random and from the Item Dump) To be distributed:</p>
          <ol>
            <li>1st - The Invitation to Legendary League!</li>
            <li>2nd - 5 Keys + 1 loading screen + 1 Full item set/li>
            <li>3rd - 2 Keys + 1 loading screen + 1 Full item set</li>
            <li>4th - 1 loading screen + 1 Full item set</li>
            <li>Seven different viewers will be selected at random for 7 Full item sets</li>
          <ol>
        </div>
      </div>
    </div>
  <% end %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">
          Cost
        </a>
      </h4>
    </div>
    <div id="collapseThirteen" class="panel-collapse collapse">
      <div class="panel-body">
        <p>$0.00. Feel free to donate/gift items <%=link_to "here", "http://steamcommunity.com/profiles/76561198079056731/"%>, and if you haven’t already, purchase the <%=link_to "AD2L Season 3 Open ticket", "http://www.dota2.com/store/itemdetails/15548?r=1f4"%> and/or the <%=link_to "AD2L Season 3 invitational ticket", "http://www.dota2.com/store/itemdetails/20428?r=ce/"%> which includes a courier!.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">
          Format
        </a>
      </h4>
    </div>
    <div id="collapseFourteen" class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <li>1. Best of One, Single Elimination</li>
          <li>2. Default server is EU WEST (EU) or US EAST (NA/SA). If both teams agree, the server can be switched. Set mode to CM.</li>
          <li>3. You are to set up your own lobbies for the first 2 rounds, unless a caster or admin call your team to their lobby.</li>
        <ol>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">
          Rules: 
        </a>
      </h4>
    </div>
    <div id="collapseFifteen" class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <li>1. No team is allowed to be more than 15 minutes late. Any amount of stand-in’s is fine with us, as long as games of Dota are had!</li>
          <li>2. Games will NOT be remade if your player happens to show up after the draft has started. He or she will have to join you next game.</li>
          <li>3. All other AD2L rules apply.</li>
        <ol>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen">
          How do I contact support? 
        </a>
      </h4>
    </div>
    <div id="collapseSixteen" class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <li>1. Ask for an admin in the AD2L Guild Chat</li>
          <li>2. Join the <%=link_to "AD2L Steam Chat Group", "http://steamcommunity.com/groups/AD2L"%></li>
          <li>3. Add <%=link_to "Affinity", "players/140"%> on Steam</li>
        <ol>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen">
          Other information 
        </a>
      </h4>
    </div>
    <div id="collapseSeventeen" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Any team is allowed to enter weeks 1-3. But, during week 4, <b>NO TEAM IN THE LEGENDARY LEAGUE NEXT SEASON IS ALLOWED TO ENTER</b>. For everyone else, let the hunger games begin.</p>
      </div>
    </div>
  </div>
</div> 