<% content_for :page_subtitle do %>
    Contact Us
<% end %>
<% content_for :meta_description do %>
    Send us feedback about the league to help make the AD2L even better!
<% end %>

<script language="JavaScript">
    var username = "amateurdota2league";
    var hostname = "gmail.com";
    var linktext = username + "@" + hostname ;
    $(document).ready(function(){
        $('#emailaddress').html("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
    })
</script>
<script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

	<div class="container">
        <p>Your feedback is extremely important to us.</p>
        <p>If you contact us, we WILL respond.  Fast.</p>
    </div>
	<div class="container">
        <div style="margin: 6px 0 22px 0;">EMAIL:<span style="margin-left: 30px;" id="emailaddress"></span></div>
        <div style="margin-bottom: 22px"><a href="https://twitter.com/adota2l" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @Adota2l</a></div>
        <div style="margin-bottom: 22px"><a href="sms:amateurdota2league@gmail.com">You can also iMessage us at amateurdota2league@gmail.com!</a></div>
        <div style="margin-bottom: 22px">Join our <%=link_to "steam group chat", "steam://friends/joinchat/103582791435143521"%> for possibly instant answers!</div>
        <p>
            <div><b>Us</b></div>
            <div>Contact Shadowkiller for all of your adminning and scheduling needs! --<%= link_to "sethad2l@gmail.com", "mailto:sethad2l@gmail.com"%> or add him on steam <%= link_to "", "steam://friends/add/76561198096413824", :class => "fa fa-plus" %></div>
            <div>Rasputin --<%= link_to "amateurdota2league@gmail.com", "mailto:amateurdota2league@gmail.com"%> or add him on steam <%= link_to "", "steam://friends/add/76561198040889152", :class => "fa fa-plus" %></div>
            <div class="col-md-12">Contact <%= link_to "Submaniac", "/players/2974" %> or <%=link_to "ThatPhageGuy", "/players/13066" %> for information on inhouses.</div>
        </p>
         <p>
            <div><b>Our awesome admins!</b></div>
            <%@admins.each do |admin|%>
                <div><%= link_to admin.name, admin%> --add him on steam <%= link_to "", "steam://friends/add/#{admin.steamid}", :class => "fa fa-plus" %></div>
            <%end%>
        </p>
    </div>