<div id="tabs">  
  <div style="clear: both"></div>
  <div class="tab active" id="tab1">Season 4 League FAQ</div>
  <div class="tab nonactive" id="tab2">Weekend Tournament Series FAQ</div>
  <div class="TabsContainer">
    <div class="tabbody1 active">   
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">When does Season 4 start?</a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>Season 4 will being the first week of June, 2014.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Registration</a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p>During our registration period you can sign up your team to compete in AD2L.</p></br>
          <p>To sign up for AD2L complete the following steps:</p>
            <ol>
              <li>Sign into steam</li>
              <li>Click the "My info/Teams" tab</li>
              <li>Find the team section</li>
              <li>Complete the input box with your team name</li>
              <li>Select the region you would like to compete in and estimated MMR. NA = North America, EU=Europe</li>
              <li>Click Submit.</li>
            <ol>
          <p>Afer you are registered you can go to your team page and add people to your team. </p></br>
          <p>Follow us on Twitter and Facebook to get the latest announcements on registration periods and season start dates.<b>Please note that until registration is open for the next season you will not be able to register a new team.</b></p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                How do I add members to my team or join a team?
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
          <p>In Season 4 the captain will be responsible for adding any team members to his team.  There will be no way for a player to join a team without the captain.  However, in order to be added to a team you will have to be in our system.</p>
          <p>To get into our system you'll simply need to sign in through steam!.</p>
          <p>If you are a captain and want to add a player you do the following:</p>
            <ol>
              <li>Select desired player from the "add player" section</li>
              <li>When the desired players are listed, click "add them!"</li>
              <li>Smile and send a maple bar to <%=link_to "Leskin", "/players/1808"%>.  He deserves it.</li>
            <ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                Can I sign up if I do not have a team?
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
          <p><b>Please do!</b>  We really want AD2L to be a community where teams can find players and players can find teams.  In order to get on the free agent list do the following:</p>
          <ol>
            <li>Sign in through Steam</li>
            <li>Set your free agent status to "Yes".</li>
            <li>Find teams.  Make teams.  Make friends.  Play.  Win.</li>
          <ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                How do I use the free agent page?
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
          <p>Each player on our site has their own page where they can put something about themselves in their bio, list their desired roles, their MMR and total hours played. Please use these so that teams can recruit you and you can easily recruit others.  You can sort by any of these statistics on our free agent page.  We also have a few additional pretty cool tools that you can use.</p>
          <h4>Endorsements</h4>
          <p>Each player's page has a heart right next to their name.  If you click this heart, you endorse that player as a good player or someone worth playing with.  If you enjoyed playing with a player even a little, we encourage you to endorse this person.  This doesn't necessarily mean the player is going to be professional by any means.  It's just a little something saying that someone real believes this player has value.</p>
          <h4>Comments</h4>
          <p>Comments are like one step beyond an endorsement.  If you feel that soemone was especially worthwhile, leave a comment!  This should help others know a little more about the player and their skills.  This is NOT a place for flames or criticisms.  Comments are not anonymous and if we will take further action.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                Can I cast matches for AD2L?
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
          <p>Almost always yes!  Our premier league has contracted casters but the rest of our groups almost always needs casters and we love the games to be cast!  In order to be able to cast for AD2L please do the following:</p>
          <ol>
            <li>Sign in through Steam</li>
            <li>Email the url of your player page to amateurdota2league@gmail.com requesting that you'd like to cast</li>
            <li>Pick a game that you want to cast and tell and admin to schedule it for you!  Done!</li>
            <li><b>Side note:</b> We REALLY want the AD2L community to grow.  We encourage you to add the captains on steam and let them know that you want to cast their game.  Get to know people!  Almost all teams would love to have their game cast!</li>
          <ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabbody2 nonactive">  
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Who, What, When, Where, Why, How</a>
            </h4>
          </div>
          <div id="collapseTen" class="panel-collapse collapse in">
            <div class="panel-body">
              <h4 class="headerunderline">Who</h4>
              <p>32 Teams may enter the Week 1 tournament of the AD2L Weekend Tournament Series (WTS)</p>
              <h4 class="headerunderline">What</h4>
              <p>The AD2L (WTS) - Captain’s Draft, Week 1</p>
              <h4 class="headerunderline">When</h4>
              <p>3 MAY 2014, @5:00pm EDT. Registration begins right away</p>
              <h4 class="headerunderline">Where</h4>
              <p>Check-in on RaidCall @4:45pm. <%=link_to "Affinity", "players/140"%> will be in the main lobby to assist you</p>
              <h4 class="headerunderline">Why</h4>
              <p>For those of us not as good as DK, we play amateur tournaments.</p>
              <h4 class="headerunderline">How</h4>
              <ol>
                <li>1. Register from your teampage.  (Can be found from the <%=link_to "My Info", (@current_user ? @current_user : "players/new")%>)</li>
                <li>2. Check-in using RaidCall by chatting with <%=link_to "Affinity", "players/140"%> in the Lounge. Say your team name and he’ll move you to the the correct bracket. </li>
                <li>3. The caster and/or admin in your bracket will create your lobby. If there is no caster and/or admin, you will simply create the lobby between the two teams</li>
                <li>4. The winner will rejoin the <b>Lounge</b> to report the win with their team name again. You will then be moved to the next bracket by <%=link_to "Affinity", "players/140"%>. </li>
                <li>5. Rinse and repeat steps 2-4 until the 1st place is yours!</li>
              <ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">RaidCall Walkthrough</a>
            </h4>
          </div>
          <div id="collapseEleven" class="panel-collapse collapse">
            <div class="panel-body">
              <ol>
                <li>1. <%=link_to "Download RaidCall", "http://www.raidcall.com/download-raidcall.html"%> (100% free)</li>
                <li>2. Create an account</li>
                <li>3. Follow this <%=link_to "link", "http://www.raidcall.com/go.php?sid=8675445&cid=1"%> or search for group [8675445], and talk to <%=link_to "Affinity", "players/140"%> in the Lounge</li>
                <li>4. DISABLE RAIDCALL’S OVERLAY FEATURE. It is incompatible with Steam’s overlay. To do this, go to > click on RaidCall icon in the top left corner > System Settings > Overlay > Change the hotkey to something you’ll never press by accident (e.g. mine is Shift+F8).</li>
              <ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">
                Prizes
              </a>
            </h4>
          </div>
          <div id="collapseTwelve" class="panel-collapse collapse">
            <div class="panel-body">
              <p><b>Week 1</b> - Total Prize Pool: 7 Keys, 3 Full items sets (rarity is completely random from the Item Dump) To be distributed:</p>
              <ol>
                <li>1st - 5 Keys</li>
                <li>2nd - 2 Keys</li>
                <li>Three different viewers will be selected at random for 3 Full item sets</li>
              <ol>
              <p><b>Week 2</b> - Total Prize Pool: 7 Keys, 3 Full items sets (rarity is completely random from the Item Dump) To be distributed:</p>
              <ol>
                <li>1st - 5 Keys</li>
                <li>2nd - 2 Keys</li>
                <li>Three different viewers will be selected at random for 3 Full item sets</li>
              <ol>
              <p><b>Week 3</b> - Total Prize Pool: 7 Keys, 3 Random Loading Screens, 8 Full items sets (rarity is completely random and from the Item Dump) To be distributed:</p>
              <ol>
                <li>1st - 5 Keys + 1 loading screen + 1 Full item set</li>
                <li>2nd - 2 Keys + 1 loading screen + 1 Full item set</li>
                <li>Five different viewers will be selected at random for 5 Full item sets</li>
                <li>One viewer will be selected at random for 1 loading screen</li>
              <ol>
              <p><b>Week 4</b> - Total Prize Pool: <b>AD2L Season 4 Legendary League slot</b>, 7 Keys, 3 Random Loading Screens, 10 Full items sets (rarity is completely random and from the Item Dump) To be distributed:</p>
              <ol>
                <li>1st - The Invitation to Legendary League!</li>
                <li>2nd - 5 Keys + 1 loading screen + 1 Full item set/li>
                <li>3rd - 2 Keys + 1 loading screen + 1 Full item set</li>
                <li>4th - 1 loading screen + 1 Full item set</li>
                <li>Seven different viewers will be selected at random for 7 Full item sets</li>
              <ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">
                Cost
              </a>
            </h4>
          </div>
          <div id="collapseThirteen" class="panel-collapse collapse">
            <div class="panel-body">
              <p>$0.00. Feel free to donate/gift items <%=link_to "here", "http://steamcommunity.com/profiles/76561198079056731/"%>, and if you haven’t already, purchase the <%=link_to "AD2L Season 3 Open ticket", "http://www.dota2.com/store/itemdetails/15548?r=1f4"%> and/or the <%=link_to "AD2L Season 3 invitational ticket", "http://www.dota2.com/store/itemdetails/20428?r=ce/"%> which includes a courier!.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">
                Format
              </a>
            </h4>
          </div>
          <div id="collapseFourteen" class="panel-collapse collapse">
            <div class="panel-body">
              <ol>
                <li>1. Best of One, Single Elimination</li>
                <li>2. All games will be played on default server US EAST, unless both teams agree on another server</li>
                <li>3. Captain’s Draft mode - starting team will always be RANDOM. Home team decides Radiant or Dire</li>
                <li>4. Week’s 3 and 4 will have a 3rd place decider which will run at the same time as the grand finals</li>
                <li>5. Week 4’s Grand Finals will be Best of Three. The starting team will always be random, and the server location will accommodate both teams equally (with a coin toss to decide a 3rd game)</li>
              <ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">
                Rules: 
              </a>
            </h4>
          </div>
          <div id="collapseFifteen" class="panel-collapse collapse">
            <div class="panel-body">
              <ol>
                <li>1. No team is allowed to be more than 15 minutes late. Any amount of stand-in’s is fine with us, as long as games of Dota are had!</li>
                <li>2. Games will NOT be remade if your player happens to show up after the draft has started. He or she will have to join you next game.</li>
                <li>3. All other AD2L rules apply.</li>
              <ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen">
                How do I contact support? 
              </a>
            </h4>
          </div>
          <div id="collapseSixteen" class="panel-collapse collapse">
            <div class="panel-body">
              <ol>
                <li>1. Talk to your admin/caster in your bracket inside of RaidCall</li>
                <li>2. Send an IM through RaidCall directly to Affinity (head admin)</li>
                <li>3. Join the <%=link_to "AD2L Steam Chat Group", "http://steamcommunity.com/groups/AD2L"%></li>
                <li>4. Add <%=link_to "Affinity", "players/140"%> on Steam</li>
              <ol>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen">
                Other information 
              </a>
            </h4>
          </div>
          <div id="collapseSeventeen" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Any team is allowed to enter weeks 1-3. But, during week 4, <b>NO TEAM IN THE LEGENDARY LEAGUE NEXT SEASON IS ALLOWED TO ENTER</b>. For everyone else, let the hunger games begin.</p>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>