
<%= javascript_include_tag "app" %>

<div class="tabbable">
  <% content_for :subnav do %>
    <ul class="nav nav-tabs">
      <li class="tab active"><a data-toggle="tab" href="#news">News</a></li>
      <li class="tab"><a data-toggle="tab" href="#why">The Why</a></li>
      <li class="tab"><a data-toggle="tab" href="#plays">Submit Top Plays!</a></li>
    </ul>
  <% end %>
  <div class="tab-content">
    <div class="tab-pane active" id="news">
        <div class="<%= @official_streams.empty? ? 'col-md-12' : 'col-md-5' %>">
            <div ng-app="blogApp" ng-controller="blogController">
              <article ng-repeat="post in posts | limitTo:5">
                <header>
                  <h2>
                    <a href="{{post.link}}" target="_blank">{{post.title}}</a>
                    <br />
                    <small ng-show="post['dc:creator']">{{post["dc:creator"]}} -</small>

                    <small>{{post.pubDate | limitTo:16}}</small>
                  </h2>

                </header>
                <div class="col-mid-12">
                  <!-- <a href="{{post.image}}" target="_blank"><img src="{{post.image}}"/></a> -->
                </div>
                <div class="col-mid-12">
                  <span ng-class="{dots: post.description.length > 800}" ng-bind-html="post.description | limitTo: 800 "></span>
                </div>
                <br>
                <a href="{{post.comments}}" target="_blank">{{post["slash:comments"]}}
                  <ng-pluralize count="post['slash:comments'] | number" when="{
                    '1': 'comment',
                    'other': 'comments'
                    }"
                  </ng-pluralize>
                </a>
                <hr>
              </article>
            </div>
        </div>
        <% unless @official_streams.empty? %>
            <div class="col-md-6 col-md-offset-1 hidden-sm hidden-xs">
                <h4>Watch Live AD2L Streams</h4>
                <%- @official_streams.each do |stream| %>
                <object type="application/x-shockwave-flash"
                        style="width: 100%; height: 370px;"
                        data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=<%= stream.channel.name %>"
                        bgcolor="#000000">
                  <param  name="allowFullScreen"
                          value="true" />
                  <param  name="allowScriptAccess"
                          value="always" />
                  <param  name="allowNetworking"
                          value="all" />
                  <param  name="movie"
                          value="http://www.twitch.tv/widgets/live_embed_player.swf" />
                  <param  name="flashvars"
                          value="hostname=www.twitch.tv&channel=<%= stream.channel.name %>&auto_play=false&start_volume=20" />
                </object>
                  <br /><br />
                <%- end %>
            </div>
        <% end %>
	  </div>
    <div class="tab-pane" id="why">
        <div>
          <p>We created this league because we love to play Dota.  We are busy adults but want to have at least one dedicated night a week to play games as an organized team.  We want this league to be as simple and user friendly as possible.  Most of all we want to have fun and enjoy Dota!</p>

          <p>Please, go and sign up.  It's as simple as signing with your steam account and submitting your team name and email.</p>

          <p>Don't have a team?  Sign up as a free agent!  We can't guarantee to find you a spot but we will do everything we can to try and find you a team.</p>
        </div>
    </div>
    <div class="tab-pane" id="plays">
      <% if @current_user %>
        <div class="container-fluid">
          <h3>Submit your top plays!</h3>
          <%= form_tag (top_plays_email_path), :remote => true, :html => { :class => "form-horizontal", :role => "form"}, :id => "top_plays_form" do %>
            <div class="form-group">
              <%= label_tag 'name', 'Name' %>
              <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Your Name (optional)' %>
            </div>
            <div class="form-group">
               <%= label_tag 'email', 'Email' %>
               <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'Your Email Address (optional)' %>
            </div>
            <div class="form-group">
              <%= label_tag 'time', 'Match Time' %>
              <%= text_field_tag 'time', nil, class: 'form-control', placeholder: 'When did the play happen?', :required => true %>
            </div>
            <div class="form-group">
              <%= label_tag 'match_id', 'Match ID' %>
              <%= text_field_tag 'match_id', nil, class: 'form-control', placeholder: 'Match ID?', :required => true %>
            </div>
            <div class="form-group">
              <%= label_tag 'comments', 'Comments' %>
              <%= text_area_tag 'comments', nil, class: 'form-control', rows: 4, placeholder: 'Tell us a bit about the play (optional)' %>
            </div>
            <%= submit_tag 'Submit', class: 'button' %>
          <%end%>
        </div>
      <% else %>
        <%= render :partial => "register/sign_in" %>
      <% end %>
    </div>
  </div>
</div>
