
  <%= javascript_include_tag "app" %> 

<div id="fullbox">
    <div id="tabs">
        <div class="tab active" id="tab1">News</div>
        <div class="tab nonactive" id="tab2">The Why</div>
        <div class="tab nonactive" id="tab3">Rules</div>
        <div class="tab nonactive" id="tab4">Submit Top Plays!</div>
        <div style="clear: both"></div>
        <div class="TabsContainer" style="width:100%">
            <div class="tabbody1 active">
                <div class="<%= @official_streams.empty? ? 'col-md-12' : 'col-md-5' %>">
                      <h3>Note as of July 31 - Not all teams will have games scheduled!</h3>
                      <h4><%=link_to "Season 4 questionnaire", "https://docs.google.com/forms/d/1D4yUjK5ZIumVqncIfZjGkrq2DeGxl9CIueOP7sz5OrY/viewform"%></h4>
                      <div ng-app="blogApp" ng-controller="blogController">
                        <article ng-repeat="post in posts | limitTo:5">
                          <header>
                            <h2>
                              <a href="{{post.link}}" target="_blank">{{post.title}}</a>
                              <br />
                              <small ng-show="post['dc:creator']">{{post["dc:creator"]}} -</small>
                              <small ng-hide="post['dc:creator']">Ryan -</small>

                              <small>{{post.pubDate | limitTo:16}}</small>
                            </h2>

                          </header>
                          <div class="col-mid-12">
                            <a href="{{post.image}}" target="_blank"><img src="{{post.image}}"/></a>
                          </div>
                          <div class="col-mid-12">
                            <p ng-bind-html="post.description"></p>
                          </div>
                          <br>
                          <a href="{{post.comments}}" target="_blank">{{post["slash:comments"]}} 
                            <ng-pluralize count="post['slash:comments'] | number" when="{
                              '1': 'comment',
                              'other': 'comments'
                              }" 
                            </ng-pluralize>
                          </a>
                          <hr>                 
                        </article>     
                      </div>
                      <%@posts.each do |post|%>
                          <article>
                              <header>
                                  <h2>
                                      <%= post.title%> <br />
                                       <small><%=post.author.name%> - <%= format_date(post.created_at) %></small>
                                  </h2>

                              </header>
                            <%=raw post.text%>
                            <span ng-init="comments()"></span>
                          </article>
                          <hr>
                      <%end%>
                </div>
                <% unless @official_streams.empty? %>
                    <div class="col-md-6 col-md-offset-1 hidden-sm hidden-xs">
                        <h4>Watch Live AD2L Streams</h4>
                        <%- @official_streams.each do |stream| %>
                        <object type="application/x-shockwave-flash"
                                style="width: 100%; height: 370px;"
                                data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=<%= stream.channel.name %>"
                                bgcolor="#000000">
                          <param  name="allowFullScreen"
                                  value="true" />
                          <param  name="allowScriptAccess"
                                  value="always" />
                          <param  name="allowNetworking"
                                  value="all" />
                          <param  name="movie"
                                  value="http://www.twitch.tv/widgets/live_embed_player.swf" />
                          <param  name="flashvars"
                                  value="hostname=www.twitch.tv&channel=<%= stream.channel.name %>&auto_play=false&start_volume=20" />
                        </object>
                          <br /><br />
                        <%- end %>
                    </div>
                <% end %>
        	</div>
            <div class="tabbody2 nonactive">
                <div>
                    <p>We created this league because we love to play Dota.  We are busy adults but want to have at least one dedicated night a week to play games as an organized team.  We want this league to be as simple and user friendly as possible.  Most of all we want to have fun and enjoy Dota!</p>

                    <p>Please, go and sign up.  It's as simple as signing with your steam account and submitting your team name and email.</p>

                    <p>Don't have a team?  Sign up as a free agent!  We can't guarantee to find you a spot but we will do everything we can to try and find you a team.</p>
                </div>
            </div>
            <div class="tabbody3 nonactive">
                <div>
                    <h3>Schedule and match reporting</h3>

                    <p>There will be six weeks of best of two matches every Tuesday or Thursday at 9:00pm EST.  Each separate league will have a maximum of 49 teams.  If teams can come to agreement on a different time that works for BOTH teams, that would also be acceptable.  If no agreement can be made, the games will be played at 9:00 est on the proper league night. The schedule found <%= link_to "here", seasons_path%> and on your team page will outline the six week schedule before the season begins.  After the six weeks, the top ranked teams will compete in a few weeks of play-offs.</p>
                    <p>After each game you report the match results by submitting your match ids on your team page.</p>

                    <h3>Stand ins</h3>
                    <p>Stand ins are totally allowed.  We want the games to be played!  If you are having trouble filling your roster for the season or just one night, please check the free agent page <a href="freeagent.asp">here</a> or contact us and we'll make sure that you have a full team.</p>

                    <h3>Game Settings</h3>
                    <p>Game Mode: Captains Mode</p>
                    <p>Home team gets choice between either first pick or side.</p>
                    <p>Version: Tournament</p>
                    <p>Spectators: Enabled</p>
                    <p>Cheats: Disabled</p>
                    <h3>Servers</h3>
                    <p>EU vs USW -  host on USE</p>
                    <p>EU vs USE – 1:1</p>
                    <p>EUE vs USW – 1:1</p>
                    <p>USE vs USW – 1:1</p>
                    <p>EUW vs EUE – 1:1</p>

                    <h3>Pauses</h3>
                    <p>Teams are allowed to pause up to three times per match. The opposing team must respect this pause for a minimum of three  minutes, but then are free to unpause whenever they wish.</p>

                    <h3>Prize</h3>
                    <p>See our <%=link_to "FAQ page", "community"%></p>
                </div>

            </div>
            <div class="tabbody4 nonactive">
              <% if @current_user %>
                <div class="container-fluid">
                  <h3>Submit your top plays!</h3>
                  <%= form_tag (top_plays_email_path), :remote => true, :html => { :class => "form-horizontal", :role => "form"}, :id => "top_plays_form" do %>
                    <div class="form-group">
                      <%= label_tag 'name', 'Name' %>
                      <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Your Name (optional)' %>
                    </div>
                    <div class="form-group">
                       <%= label_tag 'email', 'Email' %>
                       <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'Your Email Address (optional)' %>
                    </div>
                    <div class="form-group">
                      <%= label_tag 'time', 'Match Time' %>
                      <%= text_field_tag 'time', nil, class: 'form-control', placeholder: 'When did the play happen?', :required => true %>
                    </div>
                    <div class="form-group">
                      <%= label_tag 'match_id', 'Match ID' %>
                      <%= text_field_tag 'match_id', nil, class: 'form-control', placeholder: 'Match ID?', :required => true %>
                    </div>
                    <div class="form-group">
                      <%= label_tag 'comments', 'Comments' %>
                      <%= text_area_tag 'comments', nil, class: 'form-control', rows: 4, placeholder: 'Tell us a bit about the play (optional)' %>
                    </div>
                    <%= submit_tag 'Submit', class: 'button' %>
                  <%end%>
                </div>
              <% else %>
                <%= render :partial => "register/sign_in" %>
              <% end %>
            </div>
        </div>
    </div>
</div>
