
<div id="fullbox">	
	<h2>Your teams</h2>
	<% @player.teams.each do |team| %>
		<%= link_to team.teamname, team %><%= "(Captain - view team page to manage)" if team.captain_id == @current_user.id %><br><br>
	<% end %>


	<h2>Create a team</h2>
	<p> 
		If you are already on a team above, and wish to register for a new season. Please select the team above
		and register for the new season from your team page instead.
	</p>

	<p> 
		NOTE: you will be automatically registered for the current open season. 
		Please make sure that you are positive you will be able to field 5 players each week
		before submitting this
	</p>

	<div class="formholder">
		<%= form_for Team.new do |f| %>
			<div  class="formdivs">
			  <%= f.label(:teamname, "Team Name") %>
			  <%= f.text_field :teamname, :class => "inputbox" %>
		  	</div>
			<div  class="formdivs">
			  <%= f.label(:originalmmr, "Estimated MMR?") %>
			  <%= f.text_field :originalmmr, :class => "inputbox" %>
		  	</div>
			<div class="formdivs">
				Preferred region?
			  <%= f.label(:region, "EU", :style => "float:right") %>
			  <%= f.radio_button :region, 'EU' %>
			  <%= f.label(:region, "NA", :style => "float:right") %>
			  <%= f.radio_button :region, 'NA' %>
		  	</div>
		  <%= f.submit "Create team", :confirm => "Are you sure you will participate at the listed times? Please ensure you and your team can make it before proceeding!", :class => "button" %>
		<% end %>
	</div>




	<h2>Update Your Information and Free Agent Status</h2>

	<div class="formholder">
		<%= form_for @player do |f| %>
			<div class="formdivs">
			  <%= f.label(:email, "Email address:") %>
			  <%= f.email_field :email, :class => "inputbox" %>
		  </div>
		  <div class="formdivs">
			  <%= f.label(:role, "Desired role(s) :") %>
		  	<%= f.text_field :role, :class => "inputbox" %>
		  </div>
		  <div class="formdivs">
		  	<%= f.label(:freeagentflag, "List me as a Free Agent") %>
		  	<%= f.check_box :freeagentflag, :style => "margin-right: 250px;" %>
		  </div>
		  
		  <% if @current_user.is_admin? || @current_user.caster %>
			  <div class="formdivs">
			  	<%= f.label(:twitch, "Twitch url:") %>
			  	<%= f.text_field :twitch, :class => "inputbox" %>
			  </div class="formdivs">
			  
			  <div class="formdivs">
			  	<%= f.label(:region, "Casting Region") %>
			  	<%= f.text_field :region, :class => "inputbox" %>
			  </div class="formdivs">
			<% end %>
		  
		  <% if @current_user.is_admin? %>
			  <div class="formdivs">
			  	<%= f.label(:caster, "Verified Caster?") %>
			  	<%= f.check_box :caster, :style => "margin-right: 250px;" %>
			  </div>
		  <% end %>
		  
		  <%= f.submit "Update", :class => "button" %>
		<% end %>
	</div>
</div>