
<div id="tbox1">
    <div><h2>Free Agents </h2> </div>
	<table class="table table-hover table-bordered" >
        <thead>
            <tr>
                <th><h3>Add on STEAM</h3></th>
                <th style="width: 204px; text-align: left"><h3>Name</h3></th>
                <th><h3>Role</h3></th>
            </tr>
        </thead>
        <tbody>
            <%@freeagents.each do |freeagent|%>
                <tr>
                    <td>
                    	<%= link_to image_tag("plus.png"), "steam://friends/add/#{freeagent.steamid}", :style => "margin-left:30px" %>
                    </td>
                    <td>
                        <%= link_to freeagent.name, freeagent%>
                    </td>
                	<td>
                        <%if @current_user && (@current_user.id == freeagent.id)%>
                            <%= best_in_place @player, :role, :type => :input%>
                        <%else%>
                            <%=freeagent.role%>
                        <%end%>
                    </td>  
                </tr>
            <%end%>
        </tbody>
    </table>
</div>
<%if @current_user && @current_user.freeagentflag == false%>
    <div id="tbox2">
        <%= form_for @player do |f| %>
            <div style="float: left;">
                <div><h2>Don't have a team yet? Sign up as a free agent</h3></div>
                <div style="margin-bottom: 25px">
                    <%= f.label(:email, "Email address :") %>
                    <%= f.text_field :email, :class => "inputbox"%>
                </div>
                <div style="margin-bottom: 25px">
                    <%= f.label(:role, "Desired role(s) :") %>
                    <%= f.text_field :role, :class => "inputbox", :maxlength => "100"%>
                </div>
                <%= f.hidden_field :freeagentflag, :value => true %>
            </div>
            <div style="clear: both">
                <%= f.submit "Become a free agent!", :class => "button", :style => "margin-left:-3px"%>
            </div>
        <%end%>
    </div>
<%end%>