<div class="col-md-12">
    <h2>Free Agents</h2>
	<table data-no-transition-cache id="datatable" class="table table-hover table-bordered" >
        <thead>
            <tr>
                <th>Add on Steam</th>
                <th>Name</th>
                <th>Role</th>
                <th>Region</th>
                <th>Endorsements</th>
                <th>MMR</th>
                <th>Hours Played</th>
            </tr>
        </thead>
        <tbody>
            <%@freeagents.each do |freeagent|%>
                <tr>
                    <td class="text-center">
                    	<%= link_to image_tag("plus.png"), "steam://friends/add/#{freeagent.steamid}" %>
                    </td>
                    <td>
                        <%= link_to freeagent.name, freeagent%>
                    </td>
                	<td>
                        <%if @current_user && (@current_user.id == freeagent.id)%>
                            <%= best_in_place @player, :role, :type => :input%>
                        <%else%>
                            <%=freeagent.role%>
                        <%end%>
                    </td>
                    <td>
                        <%= freeagent.region%>
                    </td>
                    <td>
                        <%= freeagent.endorsements.size %>
                    </td>
                    <td>
                        <%= freeagent.mmr %>
                    </td>
                    <td>
                        <%= freeagent.hours_played %>
                    </td>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>