<% content_for :page_subtitle do %>
    Free Agents
<% end %>
<% content_for :meta_description do %>
    Find and connect with other amateur DotA players looking for a team.
<% end %>
<div class="col-md-12">
    <div><h2>Free Agents </h2> </div>
	<table id="datatable" class="table table-hover table-bordered" >
        <thead>
            <tr>
                <th>Add on Steam</th>
                <th>Name</th>
                <th>Role</th>
                <th>Region</th>
                <th>Endorsements</th>
                <th>MMR</th>
                <th>Hours Played</th>
                <th>Comments</th>

            </tr>
        </thead>
        <tbody>
            <%@freeagents.each do |freeagent|%>
                <tr>
                    <td class="text-center">
                    	<%= link_to "", "steam://friends/add/#{freeagent.steamid}", :class => "glyphicon glyphicon-plus" %>
                    </td>
                    <td>
                        <%= link_to freeagent.name, freeagent%>
                    </td>
                	<td>
                        <%if @current_user && (@current_user.id == freeagent.id)%>
                            <%= best_in_place @player, :role, :type => :input%>
                        <%else%>
                            <%=freeagent.role%>
                        <%end%>
                    </td>
                    <td>
                        <%= freeagent.region%>
                    </td>
                    <td>
                        <%= freeagent.endorsements.size %>
                    </td>
                    <td>
                        <%= freeagent.mmr %>
                    </td>
                    <td>
                        <%= freeagent.hours_played %>
                    </td>
                    <td>
                        <%= freeagent.comments_count %>
                    </td>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>