<div id="container">
	<div class="col-md-6">
		<h2>
			<%= @player.name %>
			<%= render :partial => "players/endorsement_icon", :locals => {:user => @player} %>
			<%= link_to "", "steam://friends/add/#{@player.steamid}", :title => "Add on Steam", "data-toggle" => "tooltip", :class => "glyphicon glyphicon-plus" %>
			<%= link_to "DB", "http://dotabuff.com/players/#{@player.steam32id}", :title => "View on Dotabuff", "data-toggle" => "tooltip", :target => "blank"%>
		</h2>
		<div class="form-horizontal" role="form">
			<% if Permissions.can_edit?(@player) %>
				<div class="form-group">
			    <label class="col-sm-2 control-label">Email</label>
			    <div class="col-sm-10">
			      <%= best_in_place_if Permissions.can_edit?(@player), @player, :email, :type => :input %>
			    </div>
			  </div>
			<% end %>
			<div class="form-group">
		    <label class="col-sm-2 control-label">Desired Roles</label>
		    <div class="col-sm-10">
		      <%= best_in_place_if Permissions.can_edit?(@player), @player, :role, :type => :input %>
		    </div>
	  	</div>
	  	<div class="form-group">
		    <label class="col-sm-2 control-label">Time Zone</label>
		    <div class="col-sm-10">
		      <%= best_in_place_if Permissions.can_edit?(@player), @player, :time_zone, :type => :select, :collection => ActiveSupport::TimeZone.all.map {|k, v| [k.name, k.name]} %>
		    </div>
	  	</div>
	  	<div class="form-group">
		    <label class="col-sm-2 control-label">Free Agent?</label>
		    <div class="col-sm-10">
		      <%= best_in_place_if Permissions.can_edit?(@player), @player, :freeagentflag, :type => :checkbox %>
		    </div>
	  	</div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">AD2L Caster?</label>
		    <div class="col-sm-10">
		      <%= best_in_place_if Permissions.user_is_site_admin?, @player, :caster, :type => :checkbox %>
		    </div>
		  </div>
		  <%if Permissions.can_edit?(@player) || @player.caster%>
			  <div class="form-group">
			    <label class="col-sm-2 control-label">Twitch URL</label>
			    <div class="col-sm-10">
			      <%= best_in_place_if Permissions.can_edit?(@player), @player, :twitch, :type => :input %>
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="col-sm-2 control-label">Region</label>
			    <div class="col-sm-10">
			      <%= best_in_place_if Permissions.can_edit?(@player), @player, :region, :type => :input %>
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="col-sm-2 control-label">Estimated MMR?</label>
			    <div class="col-sm-10">
			    <p class="help-block">e.g. "3200", numeric only please!</p>
			      <%= best_in_place_if Permissions.can_edit?(@player), @player, :mmr, :type => :input %>
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="col-sm-2 control-label">Hours played</label>
			    <div class="col-sm-10">
			      <%= best_in_place_if Permissions.can_edit?(@player), @player, :hours_played, :type => :input %>
			    </div>
			  </div>
			<% end %>
			<% if Permissions.user_is_site_admin? %>
			  <div class="form-group">
			    <label class="col-sm-2 control-label">Admin</label>
			    <div class="col-sm-10">
			      <%= best_in_place_if Permissions.can_edit?(@player), @player, :admin, :type => :checkbox %>
			    </div>
			  </div>
			   <h4>Permissions</h4>
			  <table class="table table-bordered" id="perm-data-table">
			    <thead>
			      <tr>
			        <th>Person</th><th>Level</th><th>Organization</th><th>Season</th><th>Division</th><th>Remove</th>
			      </tr>
			    </thead>
			    <% @player.permissions.each do |permission| %>
			    <tr>
			      <td><%= link_to permission.player.name, permission.player %></td>
			      <td>
			        <%= best_in_place permission,
			        :permission_mode,
			        :type => :select,
			        collection: [["", "None"], ["site", "site"], ["organization","organization"], ["season", "season"], ["division","division"]] %>
			      </td>
			      <td><%= best_in_place permission, :organization_id, :type => :input%></td>
			      <td><%= best_in_place permission, :season_id, :type => :input%></td>
			      <td><%= best_in_place permission, :division, :type => :input%></td>
			      <td>
			      	<%= form_for permission, :method => "delete" do |f|%>
			      		<%= f.submit "Remove", :class => "btn btn-danger btn-sm glyphicon glyphicon-trash"%>
			      	<% end %>
			      </td>
			    </tr>
			    <% end %>
			  </table>
			  <div class="form-group">
			  	<div class="col-sm-12">
						<%= form_for Permission.new, :html => { :class => "form-horizontal", :role => "form"} do |f| %>
							<%= f.hidden_field :player_id, :value => @player.id%>
				  		<%= f.submit "Add permissions", :class => "btn btn-primary"%>
				  	<%end%>
				  </div>
			  </div>
			<%end%>
		</div>
		<div class="form-group">
		    <label class="col-sm-2 control-label">Bio:</label>
		    <div class="col-sm-10">
		      <%= best_in_place_if Permissions.can_edit?(@player), @player, :bio, :type => :textarea%>
		    </div>
	  	</div>
		<div class="form-group">
			<div class="col-sm-12" id="comments">
				<label>Comments:</label>
			</div>
	    <div class="col-sm-12" id="player_comments_partial">
				<%= render :partial => "players/player_comments"%>
	    </div>
			<%if @current_user%>
				<div class="form-group">
				  <%= form_for PlayerComment.new, :remote => true, :url => player_comment_path, :html => { :method => :post, :class => "form-horizontal", :role => "form"}, :id => "player_comments_form" do |f| %>
				    <%=f.text_area :comment, :style => "width:100%; height:100px;", :placeholder => "Post about your experience playing with #{@player.name} here.  Keep it friendly and helpful, please."%>
				    <%= f.hidden_field :recipient_id, :value => @player.id, :id => "player_id" %>
				    <%= f.hidden_field :commenter_id, :value => @current_user.id %>
				    <%=f.submit "Comment", :class => "button", :id => "publish"%>
				  <%end%>
				</div>
			<%end%>
	  	</div>
	</div>
	<div class="col-md-6">
		<h2>Solo Tournaments</h2>
		<%- @player.team_seasons.sort.reverse.each do |ts| %>
			<h4><%= link_to ts.season.title, ts.season %><% " (#{ts.division})" unless ts.division.nil? || ts.division.empty? %></h4>
			<%= best_in_place_if Permissions.can_edit?(ts.season), ts, :division, :type => :input %>
			<% if Permissions.can_edit?(@player) %>
				<% if ts.paid == false && ts.season.current_price.to_i > 0 && ts.season.registration_open %>
					<%= link_to "Pay Registration Fee", ts, :class => "btn btn-primary" %>
				<% end %>
				<%= form_for ts, :html => {:method => :delete} do |f|  %>
				  <%= f.submit "Withdraw", data: {confirm: "Are you sure you want to withdraw from this season? This is NOT easily reversable!"}, class: "btn btn-danger btn-sm glyphicon glyphicon-trash" %>
				<% end %>
			<% end %>
		<% end %>

		<h2>Teams</h2>
		<% @player.teams.each do |team| %>
			<%= link_to team.name, team %><%= " (Captain - view team page to manage)" if @current_user && (team.captain_id == @current_user.id) %><%= " (Inactive)" if !team.active %><br><br>
		<% end %>
	</div>
	<div class="col-md-6">
		<%= link_to "Create Team", new_team_path%>
	</div>
	<div class="col-md-6">

	</div>
</div>
