
<tr class="matchrow" matchid="<%=match.id%>">
	<td>
		<%= best_in_place_if Permissions.can_edit?(match), match,
			  :date,
			  :display_with => lambda { |date| format_datetime(date)},
			  :activator => ".fa-calendar.#{match.id}-date",
	      :as => :datetime
			%>
			<% if Permissions.can_edit?(match) %>
				<span class="fa fa-calendar form-control-feedback <%=match.id%>-date"></span>
			<%end%>
		</td>
	<td>
			<%=
				# Pulling in this data is a pretty heavy query, so we need to only do it when it actually makes sense
				if Permissions.can_edit?(match) && match.date > Time.now && match.home_score.to_i == 0 && match.home_score.to_i == 0 && match.away_score.to_i == 0
					best_in_place match,
					  :home_team_id,
					  :activator => ".glyphicon-warning-sign.#{match.id}-home",
			      	  :as => :select,
			      	  collection: select_teams_for_season_week_with_current_team(match.season_id, match.week, match.home_team)
			  else
			  	link_to_if match.home_team && match.home_team != @team, match.home_team ? match.home_team.teamname : "TBD", match.home_team
			  end
			%>
				<% if Permissions.can_edit?(match) && match.date > Time.now && match.home_score.to_i == 0 && match.away_score.to_i == 0 %>
					<span class="glyphicon glyphicon-warning-sign form-control-feedback <%=match.id%>-home"></span>
				<%end%>
			vs
			<%=
				if Permissions.can_edit?(match) && match.date > Time.now && match.home_score.to_i == 0 && match.home_score.to_i == 0 && match.away_score.to_i == 0
					best_in_place match,
					  :away_team_id,
					  :activator => ".glyphicon-warning-sign.#{match.id}-away",
			      	  :as => :select,
			      	  # this is terrible and I should be shot for doing it
			      	  collection: select_teams_for_season_week_with_current_team(match.season_id, match.week, match.away_team)
			  else
			  	link_to_if match.away_team && match.away_team != @team, match.away_team ? match.away_team.teamname : "TBD", match.away_team
			  end
			%>
				<% if Permissions.can_edit?(match) && match.date > Time.now && match.home_score.to_i == 0 && match.home_score.to_i == 0 && match.away_score.to_i == 0 %>
					<span class="glyphicon glyphicon-warning-sign form-control-feedback <%=match.id%>-away"></span>
				<%end%>
	</td>
	<td>
		<%= best_in_place_if Permissions.can_edit?(match), match, :home_score, :as => :input %>
		:
		<%= best_in_place_if Permissions.can_edit?(match), match, :away_score, :as => :input %>
		<% if Permissions.can_edit?(match) %>
			<%= best_in_place match, :forfeit, :as => :checkbox%>
			<br>
			<sub>Forfeit?</sub>
		<% end %>
	</td>
	<td>
		<%= best_in_place_if Permissions.can_edit?(match), match,
		  :caster_id,
		  :display_with => (lambda do |caster_id|
		    match.caster ? (link_to match.caster.name, match.caster.twitch, :target => "blank") : ""
		  end),
		  :activator => ".glyphicon-warning-sign.#{match.id}-caster",
      	  :as => :select,
      	  collection: [["", "None"]] + @casters.collect {|player| ["#{player.id}", "#{player.name}"]}
		%>
		<% if Permissions.can_edit?(match) %>
			<span class="glyphicon glyphicon-warning-sign form-control-feedback <%=match.id%>-caster"></span>
		<%end%>
	</td>
	<td>
		<%= link_to (image_tag 'view_outline_detail.png', :alt => "Match details"), match%>
	</td>
</tr>