<div class="container-fluid">
	<h2>Schedule a custom match</h2>
	<sub>Ideally you won't have to use this often.</sub>

	<%= form_for Match.new, :html => { :class => "form-horizontal", :role => "form"} do |f|%>
		<div class="form-group">
			<%= f.label :home_team_id, "Home Team", :class => "col-sm-2 control-label"%>
			<%#= select_teams_for_season_week_with_current_team(9, 9, Team.find(2499)) %>
			<div class="col-sm-10">
				<%= f.select(:home_team_id, options_for_select(@teams))%>				
			</div>
			<%= f.label :away_team_id, "Away Team", :class => "col-sm-2 control-label"%>
			<%#= select_teams_for_season_week_with_current_team(9, 9, Team.find(2499)) %>
			<div class="col-sm-10">
				<%= f.select(:away_team_id, options_for_select(@teams))%>				
			</div>
			<%= f.label :week, "Week", :class => "col-sm-2 control-label"%>
			<%#= select_teams_for_season_week_with_current_team(9, 9, Team.find(2499)) %>
			<div class="col-sm-10">
				<%= f.text_field :week%>				
			</div>
			<%= f.label :season_id, "Season Id", :class => "col-sm-2 control-label"%>
			<%#= select_teams_for_season_week_with_current_team(9, 9, Team.find(2499)) %>
			<div class="col-sm-10">
				<%= f.select(:season_id, options_for_select(@seasons))%>				
			</div>
			<div class="col-sm-12">			
	  			<%= f.submit "Create Match", :class => "button" %>
	  		</div>			
		</div>

	<% end %>

	
</div>