<div class="container-fluid">
	<% # Reschedule Warnings %>
	<% if @current_user && @match.reschedule_proposer == @current_user.id %>
    <div class="alert alert-warning" role="alert">You requested to change the match time, but the other captain has not yet accepted...please reach out to them directly to make sure they accept!</div>
  <% elsif (Permissions.can_edit?(@match) || @can_edit) && @match.reschedule_proposer %>
    <div class="alert alert-warning" role="alert">There has been a request to change the game time to <%= format_datetime(@match.reschedule_time) %>. Please <%= link_to "click here to accept", accept_reschedule_match_url(@match) %> the other captain's proposal, or counter propose below</div>
  <% end %>

	<div class="row">
		<div class="col-md-8">
			<% if Permissions.can_edit?(@match) || @can_edit %>
				NOTE: The below selector will allow you to ask to reschedule the match. Both parties must agree on a time for it to go through. The selector is in UTC, so you MUST translate your desired date into UTC time.
				<br /><br />
				For reference the current match time in UTC is: <%= format_datetime(@match.date) %>
			<% end %>
			<h4>
				<%if Permissions.can_edit?(@match) || @can_edit%>
					<%= best_in_place_if Permissions.can_edit?(@match) || @can_edit, @match,
					  :reschedule_time,
					  :display_with => lambda { |date| format_datetime(date)},
					  :activator => ".fa-calendar.#{@match.id}-date, .js-time",
			      :type => :datetime
					%>
				<%else%>
					<%=format_datetime(@match.date)%>
				<%end%>
				<% if Permissions.can_edit?(@match) || @can_edit %>
					<span class="fa fa-calendar form-control-feedback <%=@match.id%>-date" title="Reschedule this Game"></span>
				<%end%>
			</h4>
			<% if @match.lobby_password && @match.date > Time.now - 1.day %>
				<h3>Lobby Password: <%= @match.lobby_password %></h3>
				<h4><%= @match.home_team.teamname %> is responsible for hosting this lobby!</h4>
			<% end %>
			Caster:
			<%= best_in_place_if Permissions.can_edit?(@match) || @can_edit, @match,
			  :caster_id,
			  :display_with => (lambda do |caster_id|
			    caster_id.nil? ? "" : (link_to @match.caster.name, @match.caster.twitch, :target => "blank")
			  end),
			  :activator => ".glyphicon-warning-sign.#{@match.id}-caster",
	      	  :type => :select,
	      	  collection: ["", "None"] + @casters.collect {|player| ["#{player.id}", "#{player.name}"]}
			%>
			<% if Permissions.can_edit?(@match) || @can_edit %>
				<span class="glyphicon glyphicon-warning-sign form-control-feedback <%=@match.id%>-caster"></span>
			<%end%>
		</div>
	</div>
	<br /><br />
	<b>Result:</b>
	<div class="row">
		<div class="col-xs-3 text-center">
			<h5><%= best_in_place_if Permissions.can_edit?(@match) || @can_edit, @match, :home_score, :type => :input %></h5>
		</div>
		<div class="col-xs-2 text-center">
			<h5>vs</h5>
		</div>
		<div class="col-xs-3 text-center">
			<h5><%= best_in_place_if Permissions.can_edit?(@match) || @can_edit, @match, :away_score, :type => :input %></h5>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<% if Permissions.can_edit?(@match) || @can_edit %>				
				<%= best_in_place @match, :forfeit, :type => :checkbox%>
				<br>
				<sub>Forfeit?</sub>
			<% end %>			
		</div>		
	</div>

	<div class="row">
		<div class="col-sm-4 rosterholder">
			<% if @match.home_team.nil? %>
				<h3>Bye</h3>
			<% else %>
				<h3><%= link_to @match.home_team.teamname, @match.home_team%></h3>
				<%= render :partial => "teams/roster", :locals => {:roster => @home_team_roster, :team => @match.home_team}%>
			<% end %>
		</div>
		<div class="col-sm-4 col-sm-offset-1 rosterholder">
			<% if @match.away_team.nil? %>
				<h3>Bye</h3>
			<% else %>
				<h3><%= link_to @match.away_team.teamname, @match.away_team%></h3>
				<%= render :partial => "teams/roster", :locals => {:roster => @away_team_roster, :team => @match.away_team}%>
			<% end %>
		</div>
	</div>
	<br>
	<br>
	<h4>Match Comments</h4>
	<div class="container-fluid" id="matchcommentspartial">
		<%= render :partial => "matches/match_comments"%>
	</div>
	<%if @current_user%>
		<div class="container-fluid">
		  <%= form_for Matchcomment.new, :remote => true, :url => matchcomment_path, :html => { :method => :post, :class => "form-horizontal", :role => "form"}, :id => "match_comments_form" do |f| %>
		    <%=f.text_area :comment, :style => "width:100%; height:100px;", :placeholder => "Post a comment here!"%>
		    <%= f.hidden_field :match_id, :value => @match.id %>
		    <%=f.submit "Post", :class => "button", :id => "publish"%>
		  <%end%>
		</div>
	<%end%>
</div>