<!DOCTYPE html>
<html>
<head>
  <title>Ad2l</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="logo" class="container">
	    <div id="livegamescontent"></div>
	    <div id="closedlivegames">Games are live right now!</div>
		<h1>
			<a href="/">Amateur <span>Dota</span> 2 League</a>
		</h1>
        <div style="font-size: 10px; color:##919191; float:left; font-weight: bold; ">For those of us not as good as [A]lliance.</div>
		<% if @current_user %>
			<div style="float: right; margin-top: 15px"><%= image_tag session[:current_user][:image] %>
				<span style="margin-left: 5px; font-size: 20px" id="steamname"><%= session[:current_user][:nickname] %></span>
			</div>
			<span style="font-size: 10px; color:#BC1414; float: right; "><%= link_to 'Logout', logout_url %></span>
		<%else%>
			<p style="margin-left:290px"><%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"), '/auth/steam' %></p>
		<% end %>
		
	</div>
	<div id="menu" class="container">
		<ul>
			<li class="current_page_item" ><a href="Index.asp" accesskey="1" title="">Home</a></li>
			<li  class="current_page_item" ><a href="Schedule.asp" accesskey="2" title="">Schedule</a></li>
            <li class="current_page_item" ><%= link_to "Team Page", controller: 'teams' %></li>
			<li class="current_page_item"><a href="freeagent.asp" accesskey="3" title="">Free Agents</a></li>
	        <li id="entry"class="current_page_item" ><a href="entry.asp" accesskey="4" title="">Sign up!</a></li>
			<li class="current_page_item"><a href="community.asp" accesskey="5" title="">Community</a></li>
	        <li  class="current_page_item" ><a href="contact.asp" accesskey="5" title="">Contact</a></li>
		</ul>
	</div>
	<div id="sponsors" class="container">
	    <div id="sponsorholder">
	        <a style="margin-left:15px;" href="http://www.dota2.com/store/itemdetails/15548?r=1f4" target="_blank">
	            <%= image_tag "AD2LS3.png" %>
	        </a>
	        <a style="margin-left:215px;" href="https://probuiltsystems.com/" target="_blank">    
	            <%= image_tag "Probuilt2.png" %>        
	        </a>
	    </div>
	</div>

<%= yield %>
	<div id="copyright" class="container">
		<p>Copyright (c) 2014 AmateurDota2League.com. All rights reserved. | <a href="http://www.steampowered.com/">Powered by Steam</a></p>
	</div>
</body>
</html>
