<!DOCTYPE html>
<html>
<head>
  <%=favicon_link_tag 'ad2l.ico'%>

  <title><%= content_for?(:page_subtitle) ? yield(:page_subtitle) + " - " : "" %>Amateur Dota 2 League</title>
   <meta name="description" content="
  <%= content_for?(:meta_description) ? yield(:meta_description) : "The Amateur Dota 2 League enables non-professional DotA players to play in a competitive environment with both season-based and weekend tournaments." %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_tag "const AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <%= javascript_tag "const USER_TZ = '#{user_js_tz_name}';" %>
  <%= javascript_tag "const RAILS_ENV = '#{Rails.env}';"%>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.6/select2.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="logo" class="container">
		<!-- Twitch container -->
		<% unless @active_streams.empty? %>
		    <div id="LiveGames" style="top: -<%= @active_streams.count * 55%>px">
		    	<table>
		    	<% @active_streams.each do |stream| %>
		    		<tr>
		    			<td class="twitchtitle"><%= link_to stream.channel.status, stream.channel.url, :target => "_blank" %></td>
		    			<td class="twitchlink"><%= link_to stream.channel.display_name, stream.channel.url, :target => "_blank" %></td>
		    		</tr>
			    <% end %>
			    </table>
		    	<div id="LiveGames-Callout">Games are live right now! <i class="glyphicon glyphicon-chevron-down"></i></div>
		    </div>
	    <% end %>

	  <!-- Main Header, hidden on mobile -->
	  <div class="hidden-xs">
			<h1>
				<a href="/">Amateur <span>Dota</span> 2 League</a>
				<% if @current_user %>
					<div id="current-user"><%= image_tag @current_user.avatar, :alt => "" %>
						<span><%=link_to @current_user.name, @current_user, :class => "noLinkStyle" %></span>
						<br />
						<%= link_to 'Logout', logout_url, :class => 'logout' %>
					</div>
				<%else%>
					<%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png"), '/auth/steam', :style => "float:right" %>
				<% end %>
			</h1>
	    <div class="tagline">For those of us not as good as [A]lliance.</div>
	  </div>
	</div>

	<nav class="navbar navbar-ad2l container" role="navigation">
		<div class="navbar-header visible-xs">
			<div class="navbar-brand">Amateur <span>Dota</span> 2 League</div>
			<button type="button" class="pull-right navbar-toggle" data-toggle="collapse" data-target="#ad2l-main-nav-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
			<div class="pull-right user-in-bar">
				<% if @current_user %>
						<%= image_tag @current_user.avatar, :alt => "" %>
						<span class="handle"><%= @current_user.name %></span>
				<%else%>
						<%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png"), '/auth/steam', :style => "float:right" %>
				<% end %>

			</div>
    </div>
		<ul class="nav navbar-nav collapse navbar-collapse" id="ad2l-main-nav-collapse">
      <li <%if @current_tab == 'index'%> class="active" <%end%> >
      	<%= link_to "Home", root_path %>
      </li>
      <li <%if @current_tab == 'seasons'%>class="dropdown active"<%else%>class="dropdown"<%end%>>
      	<%= link_to "Tournaments", seasons_path, :class => "dropdown-toggle", :"data-toggle" => "dropdown" %>
        <ul class="dropdown-menu">
      		<%- @active_seasons.each do |season| %>
          	<li><%= link_to season.title, season %></li>
          <% end %>
        </ul>
      </li>
      <li <%if @current_tab == 'inhouse'%> class="active" <%end%>>
      	<%= link_to "Inhouses", inhouse_path(2) %>
      </li>
      <%if @current_user%>
        <li <%if @current_tab == 'myinfo'%> class="active" <%end%>  >
      		<%= link_to "My info", @current_user %>
      	</li>
      <% end %>
      <li <%if @current_tab == 'register'%> class="active" <%end%>  >
      	<%= link_to "Register!", "/register" %>
      </li>
      <li <%if @current_tab == 'community'%> class="active" <%end%> >
      	<%= link_to "Community", community_path%>
      </li>
		</ul>
  </nav>
  <%- if content_for?(:subnav) %>
    <nav class="navbar navbar-subnav navbar-ad2l container" role="navigation">
      <%= yield(:subnav) %>
  	</nav>
  <%- end %>
	<div id="sponsors" class="container">
  	<div class="col-md-3 col-sm-3 col-xs-3 text-center">
        <%= link_to (image_tag "patreon2.png", :alt => "Patreon Page"), "http://www.patreon.com/ad2l", :target => "_blank", "data-campaign-id" => "Patreon" %>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-6 text-center">
      <%- ad_choice = -1 %>
  	  <%- if ad_choice === 0 %>
  		  <%= link_to image_tag("dota2navi-gaming.jpg", :alt => "Dota 2 Navigation"), 'http://f23502sc89c55v96xcye7amlj6.hop.clickbank.net/', :target => "_blank", :style => "height:100px; width: 50%;" %>
  		<%- elsif ad_choice === 1 %>
  		  <%= link_to image_tag("http://www.dota2secrets.com/images/Dota2Ownage._header.png", :alt => "Dota 2 Secrets"), 'http://969d6-sa1v9a5q2cwpm-04sobw.hop.clickbank.net/', :target => "_blank", :style => "height:100px; width: 50%;" %>
  		<%- elsif ad_choice === 2 %>
  		  <%= link_to image_tag("http://www.gamingjobsonline.com/images/banner/banner468x60.gif", :alt => "Gaming Jobs"), 'http://adota2l.behelit777.hop.clickbank.net/', :target => "_blank", :style => "height:100px; width: 50%;" %>
  		<%- elsif ad_choice === 3 %>
        <%= link_to image_tag("hearthkings_ad.png", :alt => "Hearthkings T-shirt"), 'http://teespring.com/digitalsportshk', :target => "_blank", :style => "width: 50%;", "data-campaign-id" => "hearthkings_tshirt_1" %>
      <%- end %>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-3 text-center">
        <%= link_to image_tag("http://cdn.dota2.com/apps/570/icons/econ/leagues/subscriptions_ad2l_season_6_large.449727c7668cf1d59266a203dd255033bd85484c.png", :alt => "Season 6 Ticket"), 'http://www.dota2.com/store/itemdetails/16263', :target => "_blank", "data-campaign-id" => "Season6Ticket" %>
    </div>
	</div>
	<div id="main" class="container">
		<%= render :partial => "layouts/flash_messages" %>
		<%= yield %>
	</div>
	<div id="copyright" class="container">
		<p>Copyright (c) <%= Time.now.year %> AmateurDota2League.com. All rights reserved. | <a href="http://www.steampowered.com/">Powered by Steam</a></p>
    <p><a href="https://twitter.com/<%= DOTA_TWITTER_ACCOUNT %>" class="twitter-follow-button" data-show-count="true">Follow @<%= DOTA_TWITTER_ACCOUNT %></a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FADota2L&amp;width=100&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21&amp;appId=239030119468888" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
	</div>
	<%= render :partial => "layouts/dialogs" %>
	<%= render :partial => "layouts/ga" %>
</body>
</html>
